[2019-07-01 18:13] xieus opened #2 "Design spec update with component information."

[2019-07-01 18:21] xieus opened #3 "Create Kafka producer in network agent."

[2019-07-01 21:00] #2 closed, assigned to er1cthe0ne

[2019-07-01 21:03] er1cthe0ne opened #4 "Based agent code framework in place"
ETA 7/12

To be able to call Transit daemon API to create VPC assuming the dependency of Transit daemon is working.

[2019-07-01 21:04] er1cthe0ne opened #5 "Integration of Kafka"
ETA 07/19

Need to leverage the code from issue #3.

[2019-07-01 21:05] er1cthe0ne opened #6 "Unit testing through Kafka"

[2019-07-03 01:50] xieus opened #8 "Create Kafka consumer in network agent."

[2019-07-03 17:53] xieus opened #9 "Load network agent configuration when agent starts"

[2019-07-03 17:54] xieus opened #10 "Check if OVS and/or OVS daemon exists; if not, launch the program"

[2019-07-03 17:54] xieus opened #11 "Check if transit program exists on physical NIC; if not, launch the program"

[2019-07-03 17:55] xieus opened #12 "Announce this host (agent) and register in every kafka cluster"

[2019-07-03 17:55] xieus opened #13 "Launch background threads to monitor and to emit network health status"

[2019-07-03 17:58] xieus opened #14 "Upload or refresh the networking spec of this host (including DPDK, SR-IOV, bandwidth etc.)"

[2019-07-03 17:59] xieus opened #15 "Listen to Kafka clusters for any network configuration operations"

[2019-07-03 18:00] xieus opened #16 "Message serialization and deserialization"

[2019-07-03 18:01] xieus opened #17 "Program XDP for VPC creation"
XDP programming is through corresponding RPC apis by transit daemon.

[2019-07-03 18:03] xieus opened #18 "Create a main workflow for network agent"

[2019-07-03 18:03] xieus opened #19 "Create Kafka producer in network agent."

[2019-07-03 18:05] #19 closed, assigned to xieus

[2019-07-03 23:31] #18 closed, assigned to xieus

[2019-07-03 23:55] xieus opened #20 "Optimization in Kafka producer and consumer"
For example, how to group a set of agents as a group of kafka consumers
https://stackoverflow.com/questions/34550873/difference-between-groupid-and-consumerid-in-kafka-consumer

[2019-07-05 18:26] xieus opened #21 "Investigate protobuf (message format)"

[2019-07-08 07:06] xieus opened #24 "More reliable threading model"
Better handling of race condition. Investigate to use thread pools.

[2019-07-08 22:50] #21 closed, assigned to xieus, phudtran, er1cthe0ne

[2019-07-08 22:52] #8 closed, assigned to xieus

[2019-07-16 18:54] #10 closed, assigned to er1cthe0ne

[2019-07-16 18:54] #4 closed, assigned to er1cthe0ne

[2019-07-23 17:07] er1cthe0ne opened #38 "deserialize directly from kafka message to protobuf goalstate object"
deserialize directly from kafka message to protobuf goalstate object, to avoid the extra copy: kafka message (binary) -> string -> protobuf goalstate.

[2019-07-24 18:19] er1cthe0ne opened #40 "Open Source readiness: figure out the clang formatter to apply to our code."

[2019-07-25 17:05] #40 closed, assigned to phudtran, er1cthe0ne

[2019-07-25 17:12] er1cthe0ne opened #41 "use valgrind to confirm there is not memory leak"
valgrind --tool=memcheck --leak-check=yes --show-reachable=yes --num-callers=20 --track-fds=yes ./networkControlAgent

[2019-07-30 13:06] xieus opened #43 "Program XDP for Subnet creation"

[2019-07-30 13:07] xieus opened #44 "Program XDP for Port creation"

[2019-07-30 13:11] #3 closed, assigned to xieus

[2019-07-30 13:14] xieus opened #45 "Detail RPC apis call to transit daemon for various scenarios"
To cover the following scenarios:
(1) VPC Creation
(2) Subnet Creation
(3) Port Creation

[2019-07-30 18:13] #17 closed, assigned to er1cthe0ne

[2019-07-30 18:14] #5 closed, assigned to er1cthe0ne

[2019-07-30 20:30] #11 closed, assigned to er1cthe0ne

[2019-07-31 16:49] #45 closed, assigned to phudtran

[2019-08-06 20:27] #16 closed, assigned to phudtran, er1cthe0ne

[2019-08-06 20:28] #15 closed, assigned to er1cthe0ne

[2019-08-07 01:37] xieus opened #48 "[Test framework] Update agent in containers without affecting host setup"

[2019-08-07 01:38] #48 closed, assigned to phudtran

[2019-08-08 23:16] phudtran opened #50 "Agent creates peer interface, vnic, namespace, virtual-ip, virtual mac"

[2019-08-11 05:55] #38 closed, assigned to er1cthe0ne

[2019-08-11 05:56] #43 closed, assigned to er1cthe0ne

[2019-08-11 05:56] #44 closed, assigned to phudtran, er1cthe0ne

[2019-08-14 17:19] er1cthe0ne opened #51 "Error and exception handling in update goal state function"

[2019-08-16 23:31] #51 closed, assigned to er1cthe0ne

[2019-08-31 00:14] er1cthe0ne opened #55 "put async GRPC service into a separate thread"
put async GRPC service into a separate thread, and able to shut it down in the "ctrl-c" handler.

[2019-08-31 00:16] er1cthe0ne opened #56 "respond to goal state update call from network controller with goal state operation reply object"

[2019-09-13 22:37] #55 closed, assigned to phudtran, er1cthe0ne

[2019-09-13 22:37] #24 closed, assigned to phudtran

[2019-09-24 23:19] #50 closed, assigned to er1cthe0ne

[2019-10-09 22:44] xieus opened #68 "Parallel port programming"
Port creation at the host is time consuming as a number of system calls are involved including ns creation, veth pair creation and programming, veth renaming and ns move etc.  This would introduce extensive latency in a large customer deployment scenario, like deploying a few VM/container pods to the same host.

In order to increase Alcor system throughput and reduce latency, we need to paralleliz

[2019-12-05 17:47] #56 closed, assigned to er1cthe0ne

[2019-12-05 17:48] er1cthe0ne opened #72 "Kafka path respond to goal state update call from network controller with goal state operation reply object"

[2019-12-05 17:51] #68 closed, assigned to er1cthe0ne

[2019-12-05 17:52] er1cthe0ne opened #73 "Add support for delete EP/Subnet/VPC operation"

[2020-01-11 03:15] xieus opened #82 "Hosted_interface got overwritten by subsequent call"
Details:

Jan 10 23:04:20 ip-172-20-35-126 transit[5930]: [update_ep_1_svc:222] update_ep_1 ep tunid: 3000, ip: 0x600000a, type: 1, veth: vethf37810eb-7f, hosted_interface:peerf37810eb-7f
Jan 10 23:04:20 ip-172-20-35-126 transit[5930]: [update_ep_1_svc:222] update_ep_1 ep tunid: 3000, ip: 0x600000a, type: 1, veth: vethf37810eb-7f, hosted_interface:

The first call updates with the peer interface,

[2020-01-11 03:17] xieus opened #83 "[Require investigation] Random host IP is assigned and injected to packet header at EP host"
This is an endpoint on 172.20.52.56 trying to ping an endpoint on 172.20.47.86.
172.20.35.126 is the switch

02:30:30.285735 IP 4.0.0.0.5273 > 172.20.35.126.6081: Geneve, Flags [none], vni 0xbb8: ARP, Request who-has 10.0.0.6 tell 10.0.0.7, length 28
02:30:31.309734 IP 4.0.0.0.5273 > 172.20.35.126.6081: Geneve, Flags [none], vni 0xbb8: ARP, Request who-has 10.0.0.6 tell 10.0.0.7, length 28

The sw

[2020-01-17 17:40] #83 closed, assigned to er1cthe0ne

[2020-01-29 03:00] #82 closed, assigned to er1cthe0ne

[2020-01-29 03:04] er1cthe0ne opened #86 "switch from shell out calls to netlink library call"
the current shell out call doesn't provide meaningful error information for failure. Which makes it hard to debug for issues. We should switch to use netlink library call which provide better performance and better diagnosability.

Note that we may still need to use shell out calls for rescue path when trying to exec instruction from a helping neighbor control agent.

[2020-02-14 00:45] #6 closed, assigned to er1cthe0ne

[2020-02-14 00:45] #9 closed, assigned to er1cthe0ne

[2020-02-14 00:46] #12 closed, assigned to er1cthe0ne

[2020-02-14 00:47] #13 closed, assigned to phudtran, er1cthe0ne

[2020-02-14 00:47] #20 closed, assigned to nobody

[2020-02-14 00:48] #41 closed, assigned to phudtran, er1cthe0ne

[2020-02-21 19:28] xieus opened #91 "Data Plane abstraction layer design"
To support multiple Data Plane implementation including OVS and Mizar, we plan to add a new DP abstraction layer in Alcor Control Agent so that APIs of various data plane implementations are "invisible" to control plane.

[2020-03-19 16:10] xieus opened #93 "[Documentation] Control agent detailed re-design"
Abstraction layer to support multiple DP implementation (including OVS)
Functionality to support L2/L3 switching, L3 routing and NAT, and DHCP

[2020-04-07 21:28] er1cthe0ne commented on #14
not relevant for openstack support since the VMs are scheduled by nova scheduler today.

[2020-04-07 21:28] #14 closed

[2020-04-07 21:29] er1cthe0ne commented on #73
Closing old task. Will open new issues for OVS support when needed.

[2020-04-07 21:29] #73 closed

[2020-04-07 21:31] er1cthe0ne commented on #91
https://github.com/xieus/alcor/blob/docs/design/docs/visionary_design/dataplane_abstraction.adoc

[2020-04-07 21:31] #91 closed

[2020-04-07 21:36] er1cthe0ne opened #96 "[Documentation] Integration with DHCP"
design draft (working in progress) is available at:
https://github.com/er1cthe0ne/alcor-control-agent/blob/docs/design/docs/dhcp_programming.adoc

[2020-04-10 23:26] xieus opened #97 "[Documentation] Integration with OVS"
**Basic Requirements**

* Highlevel Architecture
* Background of OVS Dataplane (interface, components etc.)
* Communication between ACA and OVS
- [ ] Workflow of basic port programming
- [ ] Workflow of router programming
- [ ] Workflow of security group programming
- [ ] Workflow of network ACL programming
- [ ] Programming protocol
* ACA Implementation Details
* Compare to Neutron Implementation

[2020-04-10 23:32] xieus opened #98 "OVS Integration - Support basic port programming"
**Success Criteria**

Support basic port creation, update and deletion in the control plane

[2020-04-10 23:36] xieus opened #99 "OVS Integration - Support Security Group and Network ACL"
**Success Criteria**

Support port programming with security group and Network ACL

[2020-04-10 23:40] xieus opened #100 "OVS Integration - Support router programming"
**Success Criteria**

Agent support router programming and full VPC communication

[2020-04-16 16:36] er1cthe0ne opened #101 "Implement Dataplane Abstraction Layer"
With the updated design for Dataplane Abstraction Layer, we need to:

1. Add the new core network programming interface.
2. Refactor the current code to use the new core network programming interface.
3. Update the existing unit test code and add new test cases as needed.

[2020-04-16 16:51] er1cthe0ne opened #102 "Implement DHCP server support"
**Success Criteria:**

Agent support DHCP programming and allow VMs/Containers to receive the assigned IP address through DHCP.

**Details:**

We need to implement the DHCP support in OpenStack environment, taking over the responsibility of neutron DHCP agent. This tasks includes:

1. Done: Close down on the current DHCP design draft document #96 - https://github.com/futurewei-cloud/alcor-control-

[2020-04-30 23:14] #93 closed

[2020-04-30 23:14] #96 closed

[2020-04-30 23:14] #97 closed

[2020-05-05 06:32] #101 closed

[2020-05-21 14:41] xieus commented on #102
Item 1 is done. Design doc link: https://github.com/futurewei-cloud/alcor-control-agent/blob/master/docs/dhcp_programming.adoc

[2020-05-21 14:43] xieus commented on #102
Item 2 is under review: https://github.com/futurewei-cloud/alcor/pull/193

[2020-05-22 08:07] w2520n2520 commented on #102
I'm interesting in this issue, and I have some experence in network stack developing. May this issue assigned to me? Thanks.

[2020-05-22 14:45] xieus commented on #102
@w2520n2520 Absolutely, and thank you! This issue has been assigned.

[2020-05-22 14:46] xieus commented on #102
Update to Item 2: PR https://github.com/futurewei-cloud/alcor/pull/193 has been merged to alcor/master.

[2020-05-25 12:39] w2520n2520 commented on #102
Hi Liguang and Eric,
I didn't find the packet parsing if in the interface class and neither from the arch diagram. So whether this dhcp server need to handle scenarios for incoming packet from network? Naive question. Thanks.
@xieus @er1cthe0ne

[2020-05-25 18:56] er1cthe0ne commented on #102
Hi @w2520n2520 - you asked the right question and on the right track. This dhcp server needs to intercept the dhcp packets using openflow rules, parse it and reply with DHCP_OFFER and later DHCP_ACK message. More information is available in the reference session in the design doc: https://github.com/futurewei-cloud/alcor-control-agent/blob/master/docs/dhcp_programming.adoc

[2020-05-27 03:43] w2520n2520 commented on #102
You can run the test (optional):
root@ca62b6feec63:/mnt/host/code/alcor-control-agent# ./build/tests/aca_tests

When building you may encounter for "libgtest.so can't open or doesn't exist" issue, please refer [https://blog.csdn.net/bocksong/article/details/93207753](url)  to resolve.

[2020-05-27 05:34] er1cthe0ne commented on #102
Did you encounter this issue of "libgtest.so can't open or doesn't exist"? The intent is to run aca_tests inside the build container which has all the dependency setup already.

[2020-05-27 07:47] w2520n2520 commented on #102
Followed build and execution

Well, build and test should be executed in the generated docker "a1", my misunderstanding.
I can got 18 tests passed but still fail to run the bin.

[2020-05-27 20:28] er1cthe0ne commented on #102
Seeing 18 tests passed on the unit/functional test is good enough for now. What kind of error do you see when you run ./build/bin/AlcorControlAgent? It will try to connect to kafka so those error maybe expected if kafka was not setup.

The next step on DHCP implementation is to develop a standalone DHCP application based on this design. We can do the integration to AlcorControlAgent later.

[2020-05-28 11:24] w2520n2520 commented on #102
Thanks

Thanks Eric. Just trying to build up my working ground here.

[2020-06-02 06:53] w2520n2520 commented on #102
Hi Eric,
One question below:
`
int Aca_Comm_Manager::update_goal_state(GoalState &parsed_struct,
                                        GoalStateOperationReply &gsOperationReply)
{
update_vpc_states();
update_subnet_states();
update_port_states();
update_dhcp_states();  //to be
}
`
So these resources will always be updates together? Any chance they can be updated independently?  Thanks. @er1cthe0

[2020-06-02 07:07] er1cthe0ne commented on #102
Hi Nan Wu,

Good question, the GoalState message contains:
- 0 to N vpc_states
- 0 to N subnet_states
- 0 to N port_states
- 0 to N security_group_states
- 0 to N dhcp_states

Aca_Comm_Manager will try to update the whole GoalState in an efficient manner.

For DHCP create, the likely GoalState message would look like:
- 1 port_states, OperationType::CREATE - create/configure a new port
- 1 dhcp_st

[2020-06-03 04:58] er1cthe0ne commented on #102
Hi Nan Wu,

Do you think you can have the standalone DHCP application available in a few weeks? It would be great if we can complete the integration into AlcorControlAgent by the month of June. @w2520n2520

[2020-06-04 05:22] er1cthe0ne opened #106 "replace the system() call to do fork()/socketpair()/exec()"
The current system() call used by aca does not handle timeout and reading the output of the command. We want to replace system() and do fork()/socketpair()/exec() to allow those capabilities.

[2020-06-04 05:25] er1cthe0ne commented on #106
I like the idea of Aca_Net_Config will keep its own interface unchanged.

Same module is easier, we can put the code either in aca_net_config.cpp or place it in another file in the same directory.

[2020-06-04 14:29] spagochitarra commented on #106
Hi, indeed the same module is easier and it can be extended later anyway. We can add the few functions in the same namespace.

[2020-06-04 20:28] spagochitarra opened #107 "aca test falure"
After I run the test in loop few hundred times I observe failures:

[==========] 18 tests from 1 test suite ran. (1067 ms total)
[  PASSED  ] 12 tests.
[  FAILED  ] 6 tests, listed below:
[  FAILED  ] net_config_test_cases.create_namespace_valid
[  FAILED  ] net_config_test_cases.create_veth_pair_valid
[  FAILED  ] net_config_test_cases.setup_peer_device_valid
[  FAILED  ] net_config_test_cases.mo

[2020-06-04 20:31] spagochitarra commented on #107
I see the errors even after I restart the container.

[2020-06-04 20:42] er1cthe0ne commented on #107
Yes, looks like it used up some system resources to the point that "ip netns add test_ns" is no longer working. #106 could be useful to see the error output, and we have motivation to use netlink library so that we can better error handling for the "ip netns" call.

Note that each test case already tried to cleanup all the allocated resources. So it is not clear whether it is the "ip netns" calls

[2020-06-04 20:42] xieus commented on #107
@er1cthe0ne Please take a look to see if the failure is blocking or transient (fixed once your latest PR https://github.com/futurewei-cloud/alcor-control-agent/pull/105 is in).

[2020-06-04 20:46] er1cthe0ne commented on #107
I don't think it is blocking and we can revisit this after PR #105 since it will reramp many of the test cases.

[2020-06-04 21:22] xieus commented on #107
Okay. It seems that the current agent build check and CI both missed the test failure.
Do we enable tests there? If not, let us plan to fix failed tests and enable it in our CI shortly.

[2020-06-04 21:33] er1cthe0ne commented on #107
The failure happens after running the test in loop few hundred times.

We didn't enable the test in CI yet, we can enable it after PR #105 is in.

[2020-06-04 22:13] spagochitarra commented on #107
I think this is the problem:

./aca_tests|grep Elapsed

the pipe on stdout somehow screws up the things for good. If I ran it once or twice it just gives an error but the follow up aca_tests still work

Errors:
nanoseconds or 59 milliseconds.
localhost: RPC: Port mapper failure - RPC: Unable to receive
localhost: RPC: Port mapper failure - RPC: Unable to receive
localhost: RPC: Port mapper failure

[2020-06-04 22:21] er1cthe0ne commented on #107
If that's the problem, we can move on because these set of test case will be deactivated after PR #105 is in. :)

[2020-06-05 00:05] spagochitarra commented on #107
Ok. Understood.

[2020-06-05 00:05] #107 closed

[2020-06-05 06:06] er1cthe0ne commented on #102
Hi Nan Wu,

Checking in here. Do you think we can meet the target of June to have a standalone DHCP application based on this design and integrate it with AlcorControlAgent? Let me know. @w2520n2520

[2020-06-05 06:36] w2520n2520 commented on #102
Hi Eric,
I'm trying to meet that goal. I'll keep updating you.

[2020-06-05 13:52] spagochitarra commented on #106
After implementing and testing the feature I have found that there is not much performance gain in using the new method. The data are collected by running aca_test, then grep for the milliseconds printed by the message 'Elapsed time for system command took'. Based on these we can compute the average value of all operations which is 60.4 ms with aca_system() versus 40.748 with system().
This could

[2020-06-05 14:25] xieus commented on #106
@spagochitarra This is very nice. One quick question: for each test run, do we trigger multiple calls in parallel or just one?

[2020-06-05 15:27] spagochitarra commented on #106
The code speaks :-) This is the test.

# cat testme
#!/bin/bash

for ((i=0; i<10; i++))
do
   ./aca_tests
#   sleep 1
done

I assume serial execution.

[2020-06-05 15:46] xieus commented on #106
Cool. Not so complicated :-)

I have a suggestion: could we trigger multiple calls in parallel (in aca_tests or a new test script like paralle_aca_tests, you name it), and increase the concurrency all the way up to 1,000? We should start seeing some differences between the two.

[2020-06-05 15:54] spagochitarra commented on #106
Simplicity reveals complexity :-)

By parallel execution do you mean running multiple aca_tests at the same time. Basically sending them all in background with &?

[2020-06-05 16:31] er1cthe0ne commented on #106
I can suggest a relatively simple way to do parallel execution to the aca_system call.

1. Add a new test case in aca_test.cpp to call aca_system in 100 threads in parallel "TEST(system_test_cases, aca_system_call)". This will simulated how aca handles 100 port states inside a single goal state. See Aca_Net_State_Handler::update_port_state_workitem
2. Execute just that test case by "./build/tests/

[2020-06-05 19:13] spagochitarra commented on #106
Hi, I can create a test function like TEST(system_test_cases, aca_system_call) but how to create 100 threads inside? By calling pthread_create() in a loop? Also if I run it as --gtest_filter=aca_system the function does not get called. I think I need a bit more guidance on how to use this framework.
Thanks

[2020-06-05 21:02] er1cthe0ne commented on #106
Hi, you can use similar code in Aca_Net_State_Handler::update_port_states

Sorry, I missed the important '*", it is needed because gtest framework append the  test group name in the front, try this: "./build/tests/aca_tests --gtest_filter=*aca_system*"

[2020-06-09 00:11] er1cthe0ne commented on #102
Hi Nan Wu,

Checking in here and see if there is anything I can help. Maybe we can breakdown the standalone DHCP application task into smaller pieces? e.g.:
1. basic framework on the application, command line parsing but doesn't need to be fancy.
2. Implement DHCP handler class inherit from Dhcp_Programming_Interface in https://github.com/futurewei-cloud/alcor-control-agent/blob/master/include/aca

[2020-06-09 08:55] w2520n2520 commented on #102
Hi Eric,
Actually I've done about 4th item, dhcp handler part. I'm working on the 2nd and 3rd items. But i have doubts on them.
Per my understanding, here is the code flow for state msg: consumer->comm_mgr-->update_goal-->dhcp_state_handler(newly_added)-->dhcp_prog_if----------------->dhcp_server
Q1: How should i put dhcp_server? Should it be in a independent thread or run in the same one with aca

[2020-06-09 15:25] spagochitarra commented on #106
Hi, thanks for the directions. I implemented the test case. In order to compare execution times I ran a serial and a parallel tests in the same function. I run a simple 'l/bin/ls ls > /dev/null' When using system() the serial execution is many times faster then using futures. The serial execution is more efficient than parallel, on average 1.23ms versus 32.2451ms.

The same performance pattern hap

[2020-06-09 16:18] er1cthe0ne commented on #106
Hi, this is good data. Are you running the test on a server class machine with a lot of CPUs (e.g. 40 cores)? I am asking that because we were seeing better numbers (like 7x) with parallel processing, but our test were doing more stuff than just doing system(). :)

We will need to make aca_system() as thread safe because we have parallel execution by default when processing multiple goal states co

[2020-06-09 17:50] spagochitarra commented on #106
I ran on a vm with 2 cores. When I mentioned mutex I was referring to the current code, aca_system() can be made thread safe without mutexes.

[2020-06-09 20:26] er1cthe0ne commented on #106
Hi, for the current code, we are relying the underneath command implementation to ensure thread safety. It is similar to a user or programming running multiple commands which I assume the OS should be able to handle. Do you see risk of relying on that?

http://www.cplusplus.com/reference/cstdlib/system/:
Concurrently calling this function with a null pointer as argument is safe. Otherwise, it depe

[2020-06-10 00:05] spagochitarra commented on #106
Hi, I think the current usage is fine, system() has been around since ages and the man page says it is thread safe.

When I mentioned mutex I was thinking about the current aca_system() implementation only. The aca_system() does what system() does but it adds the possibility to timeout the call which system does not.

[2020-06-10 00:13] er1cthe0ne commented on #106
Cool, we are in the same page now. Let's make aca_system() thread safe. You can go ahead to submit a PR on the current change which may help with the technical discussion.

The current outstanding point is, after added thread safe implementation, will aca_system() performance be acceptable when running parallel in multiple threads (e.g. 100).

[2020-06-10 00:45] er1cthe0ne commented on #102
Hi Nan Wu,

Thanks for the questions, I will answer it one by one. Do let me know if you have other questions.

Great question, it should be independent thread spin up by aca_main. We will implement it during integration with DHCP standalone app into ACA.

After integration, the DHCP code will be part of ACA running in another thread, so no RPC is needed. You can check out https://github.com/futur

[2020-06-10 00:46] spagochitarra commented on #106
I have made if pthread safe. The performance for the parallel case does not improve, system() has the same issue. However this could be cause by the way the test is written, it may be done wrongly. :-)
I am going to submit a pull request please help me to fix the test case.

[2020-06-10 02:40] w2520n2520 commented on #102
Hi Eric,

Thanks for the reply.
Still have further questions, may need more your time, trying to understand the design here. :)

Great question, it should be independent thread spin up by aca_main. We will implement it during integration with DHCP standalone app into ACA.

[Nan]: OK. I thought i was supposed to start from here. We can do it later.

It will by driven by ACA running on that node in

[2020-06-10 03:57] er1cthe0ne commented on #102
Hi Nan Wu,

No problem, feel free to ask :)

The current focus is OVS dataplane, and the current design only support one dataplane per host.

The backup network-dhcp-server is used when local ACA is down, and it didn't have a chance to setup the local-dhcp-server flow. In the event if ACA exit gracefully, it should remove the local-dhcp-server flow. If ACA exit unexpectedly, it will try to restart

[2020-06-11 20:31] spagochitarra commented on #106
It is the container that slows things down.

The code below with 1000 threads takes ~300ms on the vm with 4 cores and 4GB of ram but it takes ~1.5secs in the container on the same vm. If we put this testing code inside aca 1 second over is added and the total to ~2.5secs. This is pure system with the aca_system() call removed from the code.

--------------------------------------------------------

[2020-06-11 20:58] spagochitarra commented on #106
I ran the futures code on a much better vm and it took between 0ms to 1 ms.

[2020-06-11 20:59] er1cthe0ne commented on #106
Good information. Let's also get the numbers when we run system() serially to show the parallel processing provides improvement as we expected. Can we get the numbers for aca_system() with similar setup? Thanks.

[2020-06-11 21:46] spagochitarra commented on #106
Using just system() we see the numbers below, I am expecting to see the same with aca_system() + the aca overhead.

With **no** container we have:

``
serial ran for 1303 ms
``
``
parallel ran for 236 ms
``
``
``

**inside** the container

``
serial ran for 1144 ms
``
``
parallel ran for 1415 ms
``

Parallel is slower, which seems unexpected. In the container I always see the process in D state wa

[2020-06-11 23:50] er1cthe0ne commented on #106
We will let the numbers speaks. Let's focus on the no container setup since the serial vs parallel number makes more sense. I understand it may take some work to port aca_system into it but I think it is important show the performance is expected for the parallel execution.

[2020-06-16 01:28] er1cthe0ne commented on #102
More information on packet_in_handler flow. In order to have DHCP packets send to ACA, we will need to implement an openflow controller, and have an openflow rule send the matched DHCP packets to openflow controller, that's ACA in our case.

We may use something similar to ovs-ofctl implementation, which acks as an openflow controller. Below  is an experiment to show that it should work:

root@fw0

[2020-06-17 02:25] er1cthe0ne commented on #102
Hi Nan Wu,

Let me know if you have any outstanding questions. It will be good if you can join the Alcor community meeting tomorrow to discuss and sync up on the progress. @w2520n2520

[2020-06-21 06:10] er1cthe0ne commented on #102
Hi Nan Wu,

Just checking to see how is the work going? Let me know if you have any questions. @w2520n2520

[2020-06-21 06:11] er1cthe0ne commented on #106
Hi David,

Just checking to see how is the work going. Let me know if you need anything from me. @spagochitarra

[2020-06-22 16:50] #98 closed

[2020-06-26 17:03] er1cthe0ne commented on #86
No longer needed as we don't use network namespace anymore with the current implementation.

[2020-06-26 17:03] #86 closed

[2020-06-26 17:14] er1cthe0ne opened #110 "[Documentation] update high-level architecture diagram"
update high-level architecture diagram to:

* add vlan manager
* update network state name to goal state

[2020-06-28 07:44] w2520n2520 commented on #102
Hi Eric,

I've submit a PR. Maybe you can help review it and give some suggestion.
Thank you.
@er1cthe0ne

[2020-06-30 20:57] spagochitarra commented on #106
Hi, @er1cthe0ne I did not get time to get back to this issue for now. Sorry for the delay.

[2020-07-01 22:57] er1cthe0ne commented on #106
Hi @spagochitarra , got it. Please let me know how much time you are available to work on this so that I can have some expectation on my side. Thanks.

[2020-07-01 23:50] spagochitarra commented on #106
Hi @er1cthe0ne I am sorry to say that at this time I cannot pursue this task anymore.

Thanks

[2020-07-12 17:49] er1cthe0ne opened #115 "Implement update and delete for port ovs programming"
ACA has "create" port ovs programming on compute host and accept goal state message from Alcor server for its configuration. Alcor server can also send down "update" and "delete" port ovs programming on compute host, but the support is not implemented in ACA yet.

[2020-07-12 18:02] er1cthe0ne opened #116 "Improve logging system in ACA"
We need to improve the logging system in ACA to:
- support c++ string type
- allow logging level for function enter and exit
- backward compatibility to the existing log calls

[2020-07-12 18:18] er1cthe0ne opened #117 "Add ARP responder for both L2 and L3 neighbors"
When ACA receives L2 and L3 neighbor configuration from Alcor controllers, it contains the IP and MAC mapping for each L2 and L3 neighbor. ACA should remember this information by in some new data structure.

We already have arp reponder logic in place to repond to arp request targetted to the gateway interfaces connected to alcor distributed router:

ovs-ofctl add-flow br-tun "table=51,priority=50

[2020-07-13 22:11] er1cthe0ne commented on #102
@w2520n2520 - one of the action item is for your code to provide an interface to be called when ACA received a DHCP DISCOVERY or REQUEST packet. We have a community call scheduled today, let me know if you want to join to discuss.

[2020-08-07 05:31] er1cthe0ne commented on #100
merged via PR #119

[2020-08-07 05:31] #100 closed

[2020-08-07 18:31] er1cthe0ne opened #120 "[Enhancement] Improvement to aca_ovs_control feature"
aca_ovs_control feature gives the ability for aca to act as openflow controller, with this new code, we can add the following enhancements:

1. (optional) Remove this print once we confirm we have the right behavior:
2020-08-17 18:58:28.329: OFPT_ECHO_REQUEST (xid=0x0): 0 bytes of payload
2. (optional) update int ACA_OVS_Control::control() function in aca_ovs_control.cpp, I don't think we need the

[2020-08-10 09:19] w2520n2520 commented on #102
Hi @er1cthe0ne @cj-chung
One question: Shoud OVS_Controller use dhcp_programming_if to call dhcps_recv?
I mean shoudl dhcp_programming_if encapulate calling from dataplane the same as management plane?

[2020-08-10 10:19] w2520n2520 commented on #102
Hi @cj-chung @er1cthe0ne ,
Added dhcp openflow rule procedure.
Here is the API James may use: ACA_Dhcp_Server::get_instance().dhcps_recv(dhcp_payload)

[2020-08-10 18:37] er1cthe0ne commented on #102
yes, please use dhcp_programming_if as the interface for other modules to communicate.

[2020-08-10 18:45] er1cthe0ne commented on #102
Will let @cj-chung to point out where is change the code to call the DHCP code above. The idea is to let @w2520n2520 make that change in this PR :)

To build it inside the docker container, the dockerfile should have all the necessary steps to get all the depencenies during container creation: https://github.com/futurewei-cloud/alcor-control-agent/blob/master/build/Dockerfile

To build it on a phy

[2020-08-10 20:48] cj-chung commented on #102
I think @er1cthe0ne has replied most of questions. For the place in the aca_ovs_control.cpp to call dhcp_server, you can modify the codes between #205-#221 in the aca_ovs_control.cpp. The payload in the #210 is the udp (dhcp) payload. You can just call ACA_Dhcp_Server::get_instance().dhcps_recv(payload) here and send the payload to the function.

[2020-08-13 07:00] w2520n2520 commented on #102
Hi @cj-chung ,
Please have a look at error below, how did this come? No change since 10 July.
[ 95%] Linking CXX executable ../build/tests/aca_tests
../src/libAlcorControlAgentLib.a(aca_ovs_control.cpp.o): In function `aca_ovs_control::ACA_OVS_Control::control()':
/mnt/host/code/src/ovs/aca_ovs_control.cpp:59: undefined reference to `g_ofctl_target[abi:cxx11]'
/mnt/host/code/src/ovs/aca_ovs_contro

[2020-08-13 07:17] er1cthe0ne commented on #102
@w2520n2520 just checking, did you change aca_tests.cpp? Somehow I don't see this error in my environment.

[2020-08-13 07:50] w2520n2520 commented on #102
No. I have doubt too.

[2020-08-13 20:41] cj-chung commented on #102
@w2520n2520 Did you see these error messages in your local environment when you compile it? If you have latest aca build in your local, it shouldn't have any aca_ovs_control function calls in /tests/gtests/aca_tests.cpp.
If you cannot bypass it, you can just add those global variables in /tests/gtests/aca_tests.cpp like:

[code]

[2020-08-13 21:07] er1cthe0ne opened #122 "[Enhancement] covert execute_ovsdb_command and execute_openflow_command shell calls to openflow protocol"
execute_ovsdb_command and execute_openflow_command shell calls was used as a quick way to manipulate ovs database, with the current ability of openflow controller in ACA, we should switch to use openflow protocol. This will improve performance and failure diagnosis. This should also help the performance of parallel neighbor creation with data below:

1 Neighbor Create:
Neighbor State(0) took: 1506

[2020-08-17 17:33] er1cthe0ne commented on #72
closing old issues, we are looking at the best model to use. Whether is grpc streaming or MQ.

[2020-08-17 17:33] #72 closed

[2020-08-17 17:45] er1cthe0ne commented on #102
@w2520n2520 - we have a open source meeting scheduled: Monday, Aug 17, 2020 06:30 PM Pacific Time (US and Canada), you are welcome to join and raise any questions you may have.

[2020-08-17 17:52] er1cthe0ne commented on #106
closing old issue.

[2020-08-17 17:52] #106 closed

[2020-08-18 14:18] w2520n2520 commented on #102
I think this is the reason:

[https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html](url)

Solving:
[https://stackoverflow.com/questions/55406770/gcc-undefined-references-with-abicxx11](url)
But need cmake minimal version 3.12.4. Tried this in CMakeLists.txt but the CI ENV seems unable to satisfy (3.10.2)

Any idea?  @er1cthe0ne @cj-chung

[2020-08-18 19:05] er1cthe0ne commented on #102
@w2520n2520 - allow me to suggest a few things, let me know if that make sense.

First thing is to setup a local compiling environment:
https://github.com/futurewei-cloud/alcor-control-agent/blob/master/src/README.md
cd ~/dev/alcor-control-agent
./build/build.sh
Once you have the build container setup, you can enter the docker container and rebuild ACA anytime:
docker exec -it a1 /bin/bash
cd /mnt

[2020-08-19 03:46] w2520n2520 commented on #102
Tried in local env, same issue.

[2020-08-19 05:21] er1cthe0ne commented on #102
Let's update your local environment's cmake version to 3.12.4 or higher, apply the fix you tried previously on CMakeLists.txt and see if that would address the issues. Please show us the error message so that we can take a look.

[2020-08-25 01:54] Gzure opened #123 "[DHCP Test] some problems"
I will submit some test errors, and we can discuss here.

[2020-08-25 01:55] Gzure commented on #123
@er1cthe0ne hi eric , I got a build error below.
[root@67 alcor-control-agent]# docker exec a1 bash -c "cd /mnt/host/code && cmake . && make"
-- Using protobuf
-- Using gRPC 1.24.3
-- Found Protobuf: /usr/local/lib/libprotobuf.a (found version "3.8.0")
-- Found Protobuf: /usr/local/bin/protoc-3.8.0.0 (found version "3.8.0.0")
-- Using protobuf
-- Using gRPC 1.24.3
-- Using protobuf
-- Using gRPC 1

[2020-08-25 02:11] er1cthe0ne commented on #123
Hi JianWei,

Can you tell me the steps/changes you have done before seeing the compile time error?

The error log you shared doesn't have a lot of information, can you log into the build container, try to rebuild and get additional error logs:
# docker exec -it a1 /bin/bash
# cd /mnt/host/code && cmake . && make
# see if there is additional error logs output on the console, or try to get additiona

[2020-08-25 02:24] Gzure commented on #123
Hi Eric,
I change only build/Dockerfile, and docker image can build success.

The version of alcor agent is nanWu git branch.

build container log:
`root@619b47a03b25:/mnt/host/code# cmake .
CMake Error: The current CMakeCache.txt directory /mnt/host/code/CMakeCache.txt is different than the directory /root/dhcp/alcor-control-agent where CMakeCache.txt was created. This may result in binaries bein

[2020-08-25 03:57] er1cthe0ne commented on #123
Hi JianWei, can you tell me what you changed in build/Dockerfile? Did you change the cmake or gcc version?

These are likely the issues that produce the compile error:
https://www.eclipse.org/forums/index.php/t/1086695/
https://forum.arduino.cc/index.php?topic=471189.0

[2020-08-25 06:26] Gzure commented on #123
Hi eric
The test server is on the intranet and the network is restricted. Therefore, the package teacher clones the package to the local host and the CMake version is the latest 3.18.2.
build/Dockerfile
`FROM ubuntu:18.04

ENV http_proxy http://70.202.1.80:3128
ENV https_proxy http://70.202.1.80:3128
ENV no_proxy 127.0.0.1,/var/run/docker.sock
ENV GIT_SSL_NO_VERIFY=1

RUN echo "Acquire::Retries "9

[2020-08-25 06:48] er1cthe0ne commented on #123
Hi JianWei, got it.

I suspect the compile time error is caused by the CMake version change to 3.18.2. Can you undo that change (maybe you need to change build/Dockerfile and rebuild a new container) and see if that error goes away?

It is not clear to me why we need to move to newer CMake version. The last error I saw was in the test code compile only which doesn't use the new openvswitch code. T

[2020-08-25 06:58] Gzure commented on #123
Hi Eric
I used an old CMake version but got an error that CMake requires a higher than 3.12 version. The version of openvswitch branch-2.12 is writed in Dockerfile. Which CMake version and openvswitch is ok?

[2020-08-25 07:06] er1cthe0ne commented on #123
Hi JianWei, the cmake version that comes with ubuntu:18.04 is 3.10.2. That one works just fine for openvswitch branch 2.12 and also the rest of the project. Please try to do a make clean or rebuild the build container without install CMake version 3.18.2. That's the environment we have been using for development and also our automated CI.

On this default environment, if you see compile time error

[2020-08-25 07:15] Gzure commented on #123
@er1cthe0ne I got the problem, the [WuNan branch CMakeLists.txt](https://github.com/w2520n2520/alcor-control-agent/blob/master/CMakeLists.txt) is required 3.12.4.

[2020-08-25 07:25] er1cthe0ne commented on #123
yes, it is likely changed to support this "add_compile_definitions(-D_GLIBCXX_USE_CXX11_ABI=0)" addition. That's the part I am not sure of the reason. Maybe you can backup both changes:
1. cmake_minimum_required(VERSION 3.12.4)
2. add_compile_definitions(-D_GLIBCXX_USE_CXX11_ABI=0)
and see what the real issue is? We don't want to go down and challenging path of updating cmake version unless it is

[2020-08-25 10:52] w2520n2520 commented on #102
-- Found ZLIB: /usr/lib/x86_64-linux-gnu/libz.so (found version "1.2.11")
-- Using protobuf
-- Found OpenSSL: /usr/lib/x86_64-linux-gnu/libcrypto.so (found version "1.1.1")
-- Using gRPC 1.24.3
-- Found Protobuf: /usr/local/lib/libprotobuf.a;-lpthread (found version "3.8.0")
-- Found Threads: TRUE
-- Found Protobuf: /usr/local/bin/protoc-3.8.0.0 (found version "3.8.0.0")
-- Using protobuf
-- Using

[2020-08-25 16:55] er1cthe0ne commented on #102
Hi @w2520n2520 and @gure,

I was able to get your branch to compile, please see the below steps.

1. Revert the change in CMakeList.txt so that it look like this:
cmake_minimum_required(VERSION 3.10)
project(AlcorControlAgent)

# Set the version number.
set(CMAKE_BUILD_TYPE Debug)
set(CMAKE_CXX_STANDARD 14)
set(CPPKAFKA_VERSION_MAJOR 0)
set(CPPKAFKA_VERSION_MINOR 3)
set(CPPKAFKA_VERSION_REVISION 1

[2020-08-25 16:58] er1cthe0ne commented on #123
@Gzure , please see the solution mentioned in #102

[2020-08-25 16:58] #123 closed

[2020-08-26 03:01] w2520n2520 commented on #102
Hi @er1cthe0ne , @Gzure

Adding g_ofctl_command  to both gtest and functest makes the compilation work.
I may figure out aca_test coudl report this issue:
1. Executable aca_test depends on AlcorControlAgentLib which compile source file including aca_ovs_control, which has declaration of g_ofctl_command.
2. Linking error was delayed until executable aca_test  was linked and resolved.
3. Executable

[2020-08-26 05:21] er1cthe0ne commented on #102
I am thinking about to remove it, on issue #120 number 4 point, I am suggesting to remove g_ofctl_command since we may not need it.

[2020-08-26 10:11] w2520n2520 commented on #102
All related unit test passed. Request to merge. @er1cthe0ne @cj-chung

[2020-08-27 05:16] er1cthe0ne commented on #102
@w2520n2520 @gure, please reference to this script for physical machine setup of ACA:
https://github.com/futurewei-cloud/alcor-control-agent/blob/master/build/aca-machine-init.sh

[2020-08-29 02:40] w2520n2520 commented on #102
Hi @er1cthe0ne
ovs_control.packet_in
  -->
        monitor_vconn
           --> monitor
                       -->control() ----------> has no caller

@Gzure and I do this for testing:
#ACA_OVS_Control::get_instance().monitor("br-tun", "resume");
ACA_OVS_Control::get_instance().monitor("br-int", "resume");
And B.T.W, why only one monitor is allowed?

[2020-08-29 06:34] er1cthe0ne commented on #102
Hi @w2520n2520, I am not sure I understand the concern. Can you tell me what is your question?

This could be a limitation based on the OVS code we use, but I don't think it is a blocking issue because we would only monitor br-int for the scenarios we defined. @cj-chung to correct me if I am wrong.

[2020-08-29 07:20] w2520n2520 commented on #102
`
1.
void ACA_OVS_Control::parse_packet(void *packet)
{
  aca_dhcp_server::ACA_Dhcp_Server::get_instance().dhcps_recv()
}

2.
void OVS_Control::monitor_vconn()
{
  ACA_OVS_Control::get_instance().parse_packet(pin.packet)
}

3.
void OVS_Control::monitor(const char *bridge, const char *opt)
{
  monitor_vconn(vconn, true, resume_continuations, bridge)
}

4.1
int ACA_OVS_Control::control()
{
  monitor

[2020-08-29 10:38] w2520n2520 commented on #102
Hi @cj-chung ,

One question:
For packet-out procedure, we observe br-tun's TX keeps increasing but no packet seen in tcp-dump. So we changed actions to "output:8" but no luck.
The calling of below has no error.
[code]

Whether another flow should be installed for packet-replying-from-server-to-client?
[code]

In a word, we have no error seen in code flow now but no packet-out observed on network.

[2020-08-29 17:59] cj-chung commented on #102
The "actions" indicates where the packet sent to, so you can specify actions=controller, and use tcpdump to capture packets on br-tun or br-int, you should able to see the packet on these bridges.

[2020-08-31 03:30] w2520n2520 commented on #102
Hi @cj-chung @er1cthe0ne ,

       packet=hex-string
              The  actual packet to send, expressed as a string of hexadecimal
              bytes.  This field is required.

It seems this command only send "actual packet" which means dhcp needs to encap the whole packet from app-to-eth instead of dhcp payload.
Am I right?

[2020-08-31 04:41] cj-chung commented on #102
@w2520n2520 Yes. You need a whole packet for the hex string. Since I just directly send the packet string to OVS.

[2020-09-02 18:31] er1cthe0ne opened #125 "[Enhancement] Confirm and update the support for CentOS"
alcor control agent is being developed and tested mostly on ubuntu physical machine or container. The issue is to track the work to:

1. Try the getting started development/testing instruction on CentOS
2. Update the instruction to make it work on CentOS

[2020-09-07 23:01] er1cthe0ne opened #126 "[Enhancement] pending items for DHCP feature"
This is the track the outstanding issues with the new DHCP feature, while they are not blocking, but they are important to address:

1) The manual E2E DHCP testing looks decent (result at the end of #111), we want to have automatic test integrated into aca_test.cpp using similar approach (with ovs-docker) as the manual test.

2) Add the outstanding comments/questions in PR #111

3) In aca_dhcp_sta

[2020-09-07 23:03] #102 closed

[2020-09-17 01:58] er1cthe0ne opened #129 "[Enhancement] Improve locking for router and routing rule processing"
In aca_ovs_l3_programmer.cpp, we are using a global level mutex to lock the access to our routers_tables:

      // -----critical section starts-----
      _routers_table_mutex.lock();
      _routers_table.emplace(router_id, new_subnet_routing_tables);
      _routers_table_mutex.unlock();
      // -----critical section ends-----

We can improve the locking the use read/write locks, and also add lo

[2020-09-17 18:04] er1cthe0ne opened #130 "[Enhancement] come up with a less destructive way to deal with current_RouterConfiguration FULL message_type update"
When dealing with current_RouterConfiguration FULL message_type update, the current code in aca_ovs_l3_programmer.cpp would first destroy any existing router and then create a new one. This has impact on DP causing interruption of existing connections. We want to come up with a plan and algorithm to do careful replacement update.

      if (current_RouterConfiguration.message_type() == MessageType

[2020-09-23 20:28] er1cthe0ne opened #134 "[Feature] on demand ovs rule programming for L3 routing"
For on demand ovs rule programming for L3 routing, we have the design in place:
https://github.com/futurewei-cloud/alcor/blob/master/docs/modules/ROOT/pages/high_level/routing_design.adoc

And the current code in ACA already have the framework ready, need to add implementation and corresponding testing.

[2020-09-24 03:16] Gzure commented on #134
@er1cthe0ne I will look at this. And also i need to see the OVS documentation and the current l3 design.

[2020-10-07 04:57] er1cthe0ne opened #138 "[Enhancement] Raise compiler warning level"
__Issue Description__

One of the best tool to catch code issues is to use the compiler to display warnings during compile time. ACA already have setting to have the compile to display most common warnings using the '-Wall' flag (under /CMakeLists.txt). We want to enable extra warning levels in ACA slowly fix any new warnings pop up. We can start with enabling the below warning displays:

'-Wextra

[2020-10-07 05:08] er1cthe0ne opened #139 "[Enhancement] use valgrind to confirm there is not memory leak"
__Issue Description__

valgrind is a great tool to look for memory leak for a program. We want to run it with latest AlcorControlAgent to confirm there is no memory leak, fix any issue reported by the tool.

__Action items__

0. Get a development environment setup based on https://github.com/futurewei-cloud/alcor-control-agent/blob/master/src/README.md
1. install valgrind: "apt-get update -y && ap

[2020-10-07 21:17] #110 closed

[2020-10-08 20:12] er1cthe0ne opened #141 "[Feature] Investigate OAM and potential usage"
On Gateway integration, one option is to use OAM packet to share information from gateway to compute node. This is to track the investigate and potential usage of OAM.

[2020-10-08 20:25] er1cthe0ne commented on #125
Closing older or lower priority items.

[2020-10-08 20:25] #125 closed

[2020-10-08 20:25] er1cthe0ne commented on #126
Closing older or lower priority items.

[2020-10-08 20:25] #126 closed

[2020-10-10 08:00] zhangml commented on #139
Ok, I am responsible for this issue.

[2020-10-10 08:37] Zqy11 commented on #138
I have installed the ACA, and I'm getting familiar with ACA

[2020-10-10 16:21] er1cthe0ne commented on #139
That's great, I have assigned this issue to you. Do let us know if you have any questions.

[2020-10-10 16:22] er1cthe0ne commented on #138
That's great, I have assigned this issue to you. Do let us know if you have any questions.

[2020-10-13 00:20] er1cthe0ne commented on #141
discussed during open source meeting at 10-09-2020.

[2020-10-13 00:20] #141 closed

[2020-10-13 23:08] er1cthe0ne commented on #139
FYI, here is the output I see from my environment, we should focus on investigate and fixing the "possibly lost".

==1634== LEAK SUMMARY:
==1634==    definitely lost: 0 bytes in 0 blocks
==1634==    indirectly lost: 0 bytes in 0 blocks
==1634==      possibly lost: 2,166 bytes in 8 blocks
==1634==    still reachable: 80,557 bytes in 257 blocks
==1634==         suppressed: 0 bytes in 0 blocks
==1634

[2020-10-18 05:41] liangbin-pub opened #142 "Portability issue in build script and tests"
OVS will not built and setup correctly for portability:
1. hard coded path for OVS user space CLI leads to test case failures
2. hard coded path for project location leads to build script failures
3. OVS rebuild failure due to typo

[2020-10-18 05:42] liangbin-pub commented on #142
Seems I can't assign it to myself

[2020-10-19 01:20] liangbin-pub opened #145 "Adding support to run ACA unit test inside build container"
Adding support to run ACA unit tests inside build container without the need for host OVS kernel support

[2020-10-19 01:20] liangbin-pub commented on #145
Eric, please have this one assigned to me as well

[2020-10-19 03:40] #142 closed

[2020-10-19 21:09] er1cthe0ne commented on #139
@zhangml - for the grpc thread leak you mentioned detected by valgrind. I think it caught a good issue.

It is likely due to the fact that we started a new thread for grpc server but didn't really join and clean up the thread before program exit. See line 184 in aca_main.cpp (g_grpc_server_thread = new std::thread(std::bind(&GoalStateProvisionerImpl::RunServer, g_grpc_server));

A possible way to

[2020-10-19 21:26] #145 closed

[2020-10-20 06:09] er1cthe0ne opened #147 "[Documentation] Zeta integration design document"
__Context__

We need to have a complete ACA with Zeta intergration design document which has enough detail to the point that anyone can follow it and then make the change in ACA.

__Purpose__

1. Close down on all the major design decision
2. Provide understanding of major workflows
3. Identify design gaps and address open questions
4. Serve as the contract for our opensource development

__Action

[2020-10-20 06:18] er1cthe0ne opened #148 "[Documentation] Manual construction and testing of openflow rule for Zeta integration"
__Context__

We need to manually write up the setup of openflow rules needs for Zeta, including:

1. the bucketing rules to send packets to Zeta gateway
2. the punt rule to send OAM packet to ACA

__Action items__

1. get familiar with the needed openflow rules
2. run it in a test environment, send traffic and OAM like packet to exercise the new rules
3. use tcpdump to observe the packet behavior

[2020-10-20 06:23] er1cthe0ne opened #149 "[Feature] Zeta integration implementation"
__Context__

This is to track the implementation work in ACA to support Zeta integration, it would follow the design document #147

__Proposed Code Changes__

(to be updated based on design document #147)

a. done - Goal state message change from Alcor server to ACA
b. done - What are the new function names, should create the dummy functions in ACA
b. Send traffic to different group buckets
c. OAM

[2020-10-20 13:14] zhangml commented on #139
I have added the code to clean up the thread in aca_clean(), but the situation has not changed. I called the join() function of the thread in the main thread and found that the main() method would block here. I guess it is because grpc thread executes server->wait() after executing Runserver()（aca_grp.cpp  line95） method. If no other thread calls server->shutdown(), the thread will be blocked here

[2020-10-20 13:52] zhangml commented on #139
I did a simple test. I commented out server->Wait() directly and got the following results.
==32654== LEAK SUMMARY:
==32654==    definitely lost: 0 bytes in 0 blocks
==32654==    indirectly lost: 0 bytes in 0 blocks
==32654==      possibly lost: 0 bytes in 0 blocks
==32654==    still reachable: 13,473 bytes in 85 blocks
==32654==         suppressed: 0 bytes in 0 blocks
==32654==
==32654== For coun

[2020-10-20 14:25] HuaqingTu commented on #147
Hi. Eric. I will follow up on this issue :)

[2020-10-20 16:24] er1cthe0ne commented on #147
@HuaqingTu - cool, I have assigned this issue to you. Do let me know if you have any questions on this.

[2020-10-21 01:23] HuaqingTu commented on #147
To be honest, I have not written such a design before, and the projects I have done are limited, should I write a version first according to my understanding? This version may be native.

[2020-10-21 03:03] er1cthe0ne commented on #139
@zhangml - this is very good confirmation.

Looks like it will be useful to call ::Shutdown method:

https://github.com/grpc/grpc/issues/10324

Let's add that in the destructor: ~GoalStateProvisionerImpl() to see if that address the memory leak.

Please review the information in the links below to see if it helps:

https://stackoverflow.com/questions/32504208/how-to-shutdown-grpc-server-from-clien

[2020-10-21 03:15] er1cthe0ne commented on #147
No problem. I will guide you on this as I have done this a few times already. My suggestion is to:

1. start a draft document in your branch
2. put in the highlevel sessions titles, can leave the body empty of "TBD" in the beginning
3. start a PR from your branch so I can look at your current status and comments on it
4. I can also fill in your document when I have time :)

[2020-10-21 05:33] zhangml commented on #149
Hello, I will follow up on this issue.

[2020-10-21 05:44] er1cthe0ne commented on #149
@zhangml - cool, I have assigned this issue to you. Do let me know if you have any questions on this.

[2020-10-21 06:43] zhangml commented on #149
Hi, Eric, I want to know more about the meaning of "Goal state message change from Alcor server to ACA".

[2020-10-21 06:48] er1cthe0ne commented on #149
Hi @zhangml - the Goal state message is used for communication between Alcor Server to ACA, with Zeta support, we will likely need to change the message format (aka contract). This is a needed change for Zeta and I am thinking the Alcor team (possibly me) will take care of it.

[2020-10-21 07:46] Zqy11 commented on #148
I am Qianyu Zhang and I will be responsible for this issue.

[2020-10-21 16:31] er1cthe0ne commented on #148
Sounds good. I have assigned this issue to you. Do let us know if you have any questions.

[2020-10-21 22:45] liangbin-pub opened #152 "Alcor Integration Progress Tracking"
Hi Zeta ACA team,

We will use this issue to capture USTC ACA integration progress, preferable consolidated into one itemized summary here before each end of day so we can capture and respond here in time.

Repo master, please assign this issue to all of us so we can get notified for update.

[2020-10-22 05:12] #139 closed

[2020-10-22 18:50] er1cthe0ne commented on #152
@HuaqingTu @zhangml @Zqy11 - as discussed in the opensource meeting, can you please provide an update on the work progress, questions on this github issue everyday end of day?

This will ensure the questions or any blocking were addressed quickly on the project. Thanks.

[2020-10-23 11:33] zhangml commented on #152
Hello,  Eric. I recently read part of the source code of ACA carefully. In order to better complete the issue, I would like to know which part of the ACA code should I pay more attention to?

[2020-10-23 15:21] Zqy11 commented on #152
I used Docker and OVS to manually test the function of uploading the first package and installing the flows.
The test environment is as follows:

network node (as a gateway), 172.16.62.231:

computer node1,  172.16.62.237:
docker71, ip:192.168.1.71, tag=100
docker72, ip:192.168.1.72, tag=100

computer node2,  172.16.62.238:
docker81, ip:192.168.1.81, tag=100
docker82, ip:192.168.1.82, tag=100

I u

[2020-10-23 15:22] HuaqingTu commented on #152
Hi, Eric. I have update the zeta integration design. I have some questions.

1. Is the message sended from gateway node to compute node called OAM? So i need to specify how this message is handled by ACA and how ACA to configure flow table on ovs?
2. I also need to specify how ACA handle the message from Alcor server to configure flow table and group table?
3.  Bin said that each host has the info

[2020-10-24 00:03] #138 closed

[2020-10-24 00:38] er1cthe0ne commented on #152
Hi @zhangml

You can take a look at the flow of goal state message processing in ACA:

1. GoalStateProvisionerImpl::PushNetworkResourceStates - grpc receives the message
2. Aca_Comm_Manager::get_instance().update_goal_state - goal state message processing
3. Aca_Goal_State_Handler::get_instance().update_port_states
4. Aca_Goal_State_Handler::update_port_state_workitem
5. ACA_Dataplane_OVS::update_

[2020-10-24 00:57] er1cthe0ne commented on #152
@Zqy11 - not sure why that doesn't work. But that's not a high priority as our design want to match the openflow rule based on port subnet, therefore, all ports within the same subnet will share the same set of rules. The direction to look into is to use "tag=100", so two ports from the same subnet will share the same tag, therefore, the bucket rules will be match based on "tag=100". e.g. the matc

[2020-10-24 00:59] er1cthe0ne commented on #152
@HuaqingTu - my reply to @zhangml above should give you some idea on the code flow. Let me look into your question and design doc more later tonight or over weekend.

[2020-10-25 11:33] HuaqingTu commented on #152
Hi, Erica. I'v update the document according to your suggestion and list my questions blow the PR. Next, I'll work on the workflow diagram on OAM handling.

[2020-10-26 01:01] er1cthe0ne commented on #148
Hi @Zqy11 - we are making good progress on the design discussion. One thing we need to move forward is to understand what is the exact information needed to construct the group bucketing openflow rules. Please continue with your manual rule exercise and provide an update here. Thanks.

[2020-10-26 12:53] zhangml commented on #152
I think we should add state about Zeta gateway to alcor's Goal state, such as GroupState. And add an interface similar to
int update_group_state_workitem( const alcor::schema::SubnetState current_GroupState, alcor::schema::GoalStateOperationReply &gsOperationReply) = 0 in aca_dataplane_ovs.h.
Add the function of adding, deleting, modifying and checking the group table in OVS_Control.h:
int add_gro

[2020-10-26 14:59] HuaqingTu commented on #152
Hi, Eric. I've add some description about OAM packet handling and group rule delete. And also list my question blow the PR. Thanks for your patience.

[2020-10-28 06:04] er1cthe0ne commented on #152
@HuaqingTu @zhangml @Zqy11 - please provide an update on the work progress by end of day, we can make sure the questions and blocking issues are addressed quickly.

[2020-10-28 14:42] HuaqingTu commented on #152
Hi, Eric. I've update the document. Due to some configure errors about PlantUML in VS code on Windows, the figure is still draw with VISIO. I'll update the figure in PUML later. The rules in document is supported by Qianyu Zhang and the code change is supported by Minli Zhang. I have some questions:

1.Whether the tunnel between the host and the gateway is established after the ZGC information is

[2020-10-29 11:26] zhangml commented on #152
I have summarized some of the bucket selection problems of the OVS group table select rule:

Information from OVS official website
Q: An OpenFlow “select” group isn’t dividing packets evenly among the buckets.
A: When a packet passes through a “select” group, Open vSwitch hashes a subset of the fields in the packet, then it maps the hash value to a bucket. This means that packets whose hashed fiel

[2020-10-30 05:08] er1cthe0ne commented on #152
@zhangml - thanks for the update. Let us know if you receive an update from the OVS developers (is there a link available?). I may look into the OVS code when I have time.

[2020-10-30 14:29] lly00 commented on #117
@er1cthe0ne I don't clearly understand  what we need to do in 3b

Could you explain it to me?

[2020-10-31 00:32] cj-chung opened #159 "[feature] DHCP server is required to provide gateway ip address besides the allocated ip address."
Current DHCP service can only provide the allocated IP address for a VM when the VM boots up.
The DHCP sever is actually required to provide **gateway IP address** corresponding to the the allocated IP address for the VM.

[2020-10-31 06:18] er1cthe0ne commented on #117
@lly00 I have updated the discription on this issue based on the current thinking. Please take a look.

[2020-11-03 21:50] er1cthe0ne commented on #99
Security group host design has been completed by https://github.com/futurewei-cloud/alcor/pull/390

[2020-11-04 22:02] er1cthe0ne opened #161 "[Enhancement] Improve ACA deployment model"
**Context**

Current ACA deployment model requires going to the targeted machine to:
1. clone the aca repro
2. run a script to clone and install all the aca dependencies (cppkafka, grpc, ovs, pulsar)
3. compile aca with the dependency

We want to improve the process to use a machine with same linux os as targeted machine:
1. clone the aca repro
2. run a script to clone and setup all the aca depend

[2020-11-04 22:41] er1cthe0ne opened #162 "[Enhancement] Add support for unicast/multicast packet identification and add unicast table"
**Context**

Current ACA openflow tables doesn't distinguish unicast/multicast packets. It simply sends packets to the multicast table which could flood all the remote tunnel endpoint. While traffic flow still work, but it is not most efficient. The request is to:

1. add the openflow rule to distinguish between unicast/multicast packets.
2. add a unicast table
3. populate the unicast table either

[2020-11-05 09:06] zhangml commented on #149
To install the direct path, the following flow table needs to be issued:
[code]
At the same time, deleting the direct path also needs to delete these flow entries. However, the OAM Flow Deletion type data packet does not contain the mac address information of the destination instance.

[2020-11-05 20:55] er1cthe0ne commented on #117
@lly00 - I confirmed in the code that we have access to vlan of the packet. Please see the first session of the below function in aca_ovs_control.cpp:

void ACA_OVS_Control::parse_packet(uint32_t in_port, void *packet)

You may need to modify that function to extract the vlan and pass it into your new functions.

[2020-11-06 01:34] er1cthe0ne commented on #149
@zhangml - a few comments:

1. looks like we need to adjust the manual construction of rules in #148, to make it fit into the zeta OAM design. @Zqy11
2. please reference https://github.com/futurewei-cloud/alcor-control-agent/wiki/Openflow-Tables-Explain to see how ACA uses it
3. for the first rule above, I think we can just send everything to table 2: "priority=1,in_port="patch-int" actions=resubm

[2020-11-06 06:30] lly00 commented on #117
Okay, I'll take a look

[2020-11-06 12:14] zhangml commented on #149
In OAM patcket, what is the difference between Inner Packet DIP and Destination Inst IP?
-- | -- | --
Matcher_SIP | 0 | Inner Packet SIP
Matcher_DIP | 4 | Inner Packet DIP
Matcher_SPORT | 8 | Inner Packet SPort
Matcher_DPORT | 10 | Inner Packet DPort
Matcher_Protocol | 12 | Inner Packet Protocol
Matcher_VNI | 13 | VxLAN/Geneve vni
DestInst_IP | 16 | Destination Inst IP
DestNode_IP | 20 | Destinati

[2020-11-06 22:14] er1cthe0ne commented on #149
I think they are the same. @liangbin-pub can you confirm?

[2020-11-06 22:29] liangbin-pub commented on #149
When Destination IP is a service virtual IP, the OAM will return with real IP (instance IP of the service vIP)  for final encapsulation

[2020-11-08 06:46] er1cthe0ne commented on #152
@HuaqingTu @zhangml @Zqy11 - please try to provide an update end of day Monday at your time, so that I can review and prepare answers before our next meeting. Thanks, Eric.

[2020-11-09 13:13] HuaqingTu commented on #152
Hi, Eric. I've learned how to use cmake, and viewed /build/aca-machine-init.sh and /src/CMakeLists.txt. Using the current shell script, I found librdkafka.a under /usr/lib/x86_64-linux-gnu, libpulsar.a under /usr/lib, and libopenvswitch.a under /usr/local/lib. But the static library of cppkafka is not found, I may need to modify the shell script to support the compilation of static library of cppk

[2020-11-09 13:35] zhangml commented on #152
Q: How does OVS divide flows among buckets in an OpenFlow “select” group?
A: In Open vSwitch 2.3 and earlier, Open vSwitch used the destination Ethernet address to choose a bucket in a select group. Open vSwitch 2.4 and later by default hashes the source and destination Ethernet address, VLAN ID, Ethernet type, IPv4/v6 source and destination address and protocol, and for TCP and SCTP only, the sou

[2020-11-09 14:13] zhangml commented on #152
After our test, the same flow will be mapped to the same bucket in the group table at any time. I will organize the test process and upload it later. @

[2020-11-09 15:21] Zqy11 commented on #152
I have three updates recently:
(1) I implemented XDP demo, which can match IP addresses of two VMs and drop/pass packets.
(2) Due to the deadline of the paper, I am trying to identify the first packet in the gateway node. I can get the package uploaded to the gateway by using the veth pair.
(3) I use the following rules to identify unicast/multicast packets:
cookie=0xde84b1bb07dd2c12, duration=224

[2020-11-09 19:56] er1cthe0ne commented on #161
Hi @HuaqingTu - let me give you the answers here:

0. Note that we have switched from kafka to pulsar as our message queue solution. Therefore, all kafka code is consider is legacy. We have two options:
a. still fix up the kakfa dependencies in case if we want to use it in the future
b. remove kafka dependencies, also need to change the source code to remove all kafka includes and references

1. t

[2020-11-11 14:09] HuaqingTu commented on #161
Hi, Eric. I've checked the github website of cppkafka to find the CMake options about static library. I think modifying find_library or target_link_libraries can make the use of static libraries first. But for proto and gRPC, it use find_package. I don't know how to modify the code to use static libraries first.

[2020-11-11 14:09] HuaqingTu commented on #161
Hi, Eric. I've checked the github website of cppkafka to find the CMake options about static library. I think modifying find_library or target_link_libraries can make the use of static libraries first. But for proto and gRPC, it use find_package. I don't know how to modify the code to use static libraries first.

[2020-11-11 14:29] Zqy11 commented on #162
I have added unicast/multicast table and modified direct path rule.
The implementation details and test results of unicast/multicast table is in issue-148 chapter 3.1.4/3.2.4 & chapter 5.

[2020-11-11 14:50] Zqy11 commented on #152
I have three updates recently:
(1) Added unicast/multicast table.
     The implementation details and test results of unicast/multicast table is in issue-148 chapter 3.1.4/3.2.4 & chapter 5.
(2) Modified direct path rule.
     The implementation details and test results of direct path rule is in issue-148 chapter 6.
     Due to the randomness of TCP/UDP ports, I only match vlan_id(VNI), src_ip, ds

[2020-11-12 08:35] zhangml commented on #149
Hello, the first packet uploaded to zeta also passes through the vxlan tunnel, which means that a vxlan tunnel port needs to be added to the Zeta gateway and computing node. Who should perform this operation? Do I need to consider the creation of a vxlan tunnel port when processing AuxGateway messages?

[2020-11-12 09:38] liangbin-pub commented on #149
Not sure what you mean by port here, one host will talk to thousands of hosts, including gateway, all with vxlan encap. If we have to create thousands of tunnel ports in order to do vxlan encap, that would be a nightmare.
At gateway, we certainly won't rely on having a "tunnel port" to do encap/decap. It's just one field in our flow tables.

Remember, vxlan identifies a "network", based on which "

[2020-11-12 12:27] zhangml commented on #149
Okay, got it. In other words, the sending source does not care whether the destination vtep interface has been created, nor does it matter how the peer end decapsulates. But I have a new problem: the original data packet sent to the zeta gateway needs to encapsulate the gateway's ip and mac information in the outer layer, and this can be done through a vtep. But if there is no vtep corresponding t

[2020-11-12 12:35] zhangml commented on #149
Hi,Eric. I have two programming questions.
1. Should an operation type be added to auxiliarygateway.proto to indicate whether the group table will be updated or deleted?
2. Because the format of the group table is slightly different from the normal flow table, for example, the openflow protocol version needs to be developed. Does ACA_OVS_Control::add_flow(const char *bridge, const char *opt) also

[2020-11-12 19:01] er1cthe0ne commented on #149
I discussed with Bin this morning. The way ACA is doing today is to create the vtep outport based on remote IP. It is similar to openstack and other samples I found. Zeta implementation doesn't need to follow the same way. Please spend a day or two to see if there is a better way suggested by Bin's highlevel idea. Work with @Zqy11 on this. If you two confirmed there is no other way, then you can f

[2020-11-12 22:18] #147 closed

[2020-11-12 22:24] er1cthe0ne commented on #149
For the test environment setup and test code change. Can we have @Zqy11 to focus help on that? It is a critical item as we move into the next phrase of the project.

[2020-11-13 02:02] er1cthe0ne commented on #149
@zhangml - FYI, this is how I consume the new contract in my branch:
https://github.com/er1cthe0ne/alcor-control-agent/tree/port_delete

The highlevel steps are:
cd alcor
git checkout master
cd ..
cmake . (need to regenerate the make files because of the new auxiliarygateway.proto)
make

And you can pull my change into your branch if you like :)

[2020-11-16 13:54] HuaqingTu commented on #161
Hi, Eric. Since the gRPC team said that ISSUE is not for asking problems, I've ask question about static library at grpc.io mailing list. They haven't responded yet. I encountered some problems when modifying /src/CMakeLists.txt to statically link dependencies. Below I take pulsar as an example to illustrate how I try to statically link dependencies.

1. I changed the code
`FIND_LIBRARY(PULSAR pul

[2020-11-16 14:29] zhangml commented on #149
Hello,Eric. I have updated the PR for tomorrow's discussion, but there are still some parts of the code that are not completed.

[2020-11-17 00:05] er1cthe0ne opened #163 "[Zeta environment setup] Documentation on Zeta+ACA environment setup and test cases"
As we are moving into the next phrase of the project. We need to design and setup an environment for Zeta+ACA validation. The request is to create a document which includes the below:

1. Design of Zeta+ACA testing environment
1. A picture view of the machine and component setup
1. Workflow in this environment, e.g. setup ZGC, GoalState send to ACA, confirm traffic that send through ZGC, direct pa

[2020-11-17 00:08] er1cthe0ne commented on #161
@HuaqingTu - please take a look at the pulsar documentation which should provide some background information:
https://pulsar.apache.org/docs/en/client-libraries-cpp/

You can also work with @lly00 who added the pulsar support. I am hoping @lly00 can give you some hint on how to deal with the pulsar dependency.

[2020-11-17 01:48] Gzure commented on #159
I have finished the code. I'm test the feature.

[2020-11-18 08:31] zhangml commented on #149
#158 I added an aca_oam_port_manager file to track and manage the life cycle of the oam port, and install oam punt rules.

[2020-11-18 14:20] HuaqingTu commented on #161
Hi, Eric. I've added a section for manual rules constructions in the design document. And about this issue, I am afraid that I do not have confidence to finish this job.

[2020-11-19 09:03] zhangml commented on #149
Hi,Eric @er1cthe0ne . Regarding GoalState &parsed_struct, I want to know that it saves information about all aspects of the network (such as vpcstate, portstate, subnetstate)? If so, is this information complete?

[2020-11-19 12:30] zhangml commented on #149
I noticed that the parameter neighbor_id was added to the parameters of create_or_update_neighbor_port(). May I ask if you need to create a new neighbor_port when delivering the direct path, and if you get the corresponding neighbor_id.
[code]

[2020-11-19 21:32] #159 closed

[2020-11-19 21:59] #148 closed

[2020-11-20 00:03] er1cthe0ne commented on #149
Hi @zhangml - the current ACA implementation on neighbor communication is restrictive in the sense that both source and destination sides needs to create a specific "outport" using remote host IP in order to establish the communication (both both unicast and multicast).

@liangbin-pub and I discussed on this and we believe the security benefit of this approach is minimal, it will filter out bad tr

[2020-11-20 06:20] xieus commented on #134
As the DHCP feature enhancement is done, I believe we can start looking into this feature as well @Gzure .

[2020-11-20 06:38] #115 closed

[2020-11-20 06:41] er1cthe0ne commented on #134
@Gzure - see this wiki page on the current layout of openflow table and how we want to update it for on demand routing rules.

[2020-11-20 17:22] er1cthe0ne commented on #163
@Zqy11 - Please provide an update before our next open source meeting. Thanks.

[2020-11-23 03:11] Gzure commented on #134
@er1cthe0ne I see the docs which about on demand routing rules, I have some questions:
1. We will store all neighbor info in memory, do we need to store them in DB?
2. How do we handle South-North case?

[2020-11-23 03:27] Gzure commented on #134
Also, the on demand rule:
(on demand rule)table=55, priority=50,dl_vlan=[VLAN tag of network 1],dl_dst=[mac of GW for network 1] actions=

    ‘strip_vlan,load:[VLAN tag of network 2->NXM_NX_TUN_ID[],‘ - Replace to network 2 VLAN tag

    ‘mod_dl_dst=[destination VM MAC]‘ – replace the GW mac to destination VM’s MAC

    ‘actions=NORMAL‘
need add 'nw_dst' match field.

[2020-11-23 04:50] er1cthe0ne commented on #134
Store in DB will be the next step, for now, we can store it in memory: _routers_table->neighbor_ports->neighbor_port_table_entry

For the case where there is no routing match with L3 neighbor, or routing rule match, I am thinking to install an on demand rule to send the traffic to some default external gateway. We don't have that working flow completed yet.

Yes, it is in the code below but missed

[2020-11-23 06:10] er1cthe0ne commented on #149
@zhangml - FYI we just made another contract change addessing a list of planned items. Please review the corresponding ACA change in my branch which is planning to merge into master soon: https://github.com/er1cthe0ne/alcor-control-agent/tree/schema/update

[2020-11-24 04:35] liangbin-pub commented on #163
First integration goal in Lab environment:

- Zeta setup on server x (ubuntu 18.04LTS + python3 + pip3 + ansible + docker + kind + kubectl):
    1. make sure  python3 and pip3 are installed
    2. Install ansible: pip3 install ansible
    3. Add $HOME/.local/bin to your PATH environment variable (for example add export PATH=$PATH:$HOME/.local/bin    to .bashrc
    4. run ansible --version     to m

[2020-11-24 04:42] liangbin-pub commented on #163
Sample script code to issue a POST request to Zeta:
[code]

[2020-11-24 07:00] zhangml commented on #149
Hi,Eric. @er1cthe0ne Is there a way to find vlan_id or vpc_id through tunnel_id? Because when installing direct path, vlan_id needs to be converted to tunnel_id through flow table rules.
`ovs-ofctl add-flow br-tun table=20,priority=50,dl_vlan=100,ip,nw_src=192.168.1.71,nw_dst=192.168.1.81,actions="strip_vlan,load:0x1->NXM_NX_TUN_ID[],output:"vxlan238""`

[2020-11-24 07:22] er1cthe0ne commented on #149
@zhangml - we can add a few field into the below structure:

struct vpc_table_entry {
  uint vlan_id;
  uint tunnel_id // ***NEW***
  // list of ovs_ports names on this host in the same VPC to share the same internal vlan_id
  list<string> ovs_ports;
  // hashtable of output (e.g. vxlan) tunnel ports to the neighbor host communication
  // to neighbor port ID mapping in this VPC
  // unordered_map

[2020-11-24 07:45] zhangml commented on #149
The oam port can also use a similar method to track, but if you want to search, because the key of the vpc_table is vpc_id, it may need to traverse all vpc_table_entry, and the result cannot be obtained in O(1) time through the hash.

[2020-11-24 07:54] er1cthe0ne commented on #149
I agree. Since VNI is unique for the region, do you think we can simply use VNI as the key to unordered_map<string, vpc_table_entry> _vpcs_table ? I think that's possible.

[2020-11-24 08:12] zhangml commented on #149
I personally think that vpc_tables may need to be traversed twice during the entire oam packet processing. The first time is in aca_ovs_control::parse_packet(). In this process, you need to check whether the udp destination port is a valid oam server port. If you do not introduce a hash table with oam port as the key, you may need to traverse all vpc_tables once . The second time is to convert vla

[2020-11-24 14:00] HuaqingTu commented on #163
I install ACA on a physical machine. But when I run "./build/bin/AlcorControlAgent ",  it turns out "Segmentation fault (core dumped)".  Will it affects subsequent tests?

[2020-11-24 14:23] liangbin-pub commented on #163
@HuaqingTu

Before Eric jumps in, can you provide some additional info:
What os is it, ubuntu18?
What are the steps you took from beginning? Are you following the ACA build procedure?
If it's one of the lab servers, please let us know just the ip of it
Thanks,

Bin

[2020-11-24 14:42] HuaqingTu commented on #163
1. OS is Ubuntu 18.04.4 LTS.
2. I copy the files of ACA on my own computer to Computer 18 and Computer 19 to reduce download time. And I also change the shell file to use “https://hib.fastgit.org" to speed download. There are 11 test cases failed, and the reason is about ovs bridge.
3. Computer 17 (39.98.115.249:8247) and Computer 18 (39.98.115.249:8248) are for gateways. Computer 19 (39.98.115.24

[2020-11-24 14:49] liangbin-pub commented on #163
in 2 above, you mean 19 and 20,right? On 19 & 20, do you have OVS installed?
Running alcor-control-agent and tests
Install OVS in ubuntu (18.04) if needed:
# sudo apt install openvswitch-switch
If you start a new container, you may need below after installing OVS:
# sudo /etc/init.d/openvswitch-switch restart
# sudo ovs-vswitchd --pidfile --detach

Follow the build and test procedure in [getting s

[2020-11-24 18:37] er1cthe0ne commented on #163
@HuaqingTu - after following the getting start guide and setup OVS. Are you able to run ./build/bin/AlcorControlAgent and ./build/tests/aca_tests now?

[2020-11-24 22:31] er1cthe0ne commented on #149
For aca_ovs_control::parse_packet(), we need to be careful to not add extra latency because there could be quite a bit of packet_in message send to aca_ovs_control::parse_packet(), that includes OAM, DHCP, ARP, and other L3 packets for on demand routing. Because of that, we will need to introduce a known OAM ports cache to do the valid oam server port check quickly. My thinking is once confirmed i

[2020-11-25 05:14] HuaqingTu commented on #163
It worked!

[2020-11-25 12:21] zhangml commented on #149
The outport created by alcor has its own neighbor id, while the outport created locally by aca such as oam packet does not have the neighbor id. So can we also abandon neighbor id? In this way, all neighbor ports can be stored in a table. The other way is to use the current neighbor table results, but assign a meaningless neighbor ID to all locally created neighbor ports.

[code]

[2020-11-25 16:45] PikaPikaW commented on #163
When I installe Zeta, I executed "./deploy/ full_deploy.sh-d kind" command, An error occurred while creating k8S cluster with kind. The error message is as follows:
[code]

[2020-11-25 17:18] liangbin-pub commented on #163
can you do this
cat /tmp/ansible_debug.log

[2020-11-25 17:48] er1cthe0ne commented on #162
added in this change in PR: https://github.com/futurewei-cloud/alcor-control-agent/pull/158/commits/1fdf845f50fb2bb5b28812e89876554b12729b75

[2020-11-25 17:48] #162 closed

[2020-11-25 19:57] er1cthe0ne commented on #149
My suggestion above will require changes to existing code. But I think it is still an approach that we can take.

The neighbor id was used to managed the life time of the outport, so multiple neighbors can share one outport, and the outport is only deleted when all the assoicated neighbors are deleted. We can simply abandon it without finding another way to track the life time.

Not sure if we can

[2020-11-25 20:17] er1cthe0ne commented on #152
Let's use the individual issue/PR for our continue communication. Closing this one.

[2020-11-25 20:17] #152 closed

[2020-11-27 08:18] zhangml commented on #149
Hi,Eric. I am performing functional testing of my code and encountered some problems. I installed unicast rules through the following code.
[code]
In ACA_OVS_Control::add_flow(), the output port will report an error：output to unknown port. But I found that the port has been created by running ovs-ctl show, and running the flow table command directly on the console can be installed successfully.
My

[2020-11-27 12:19] PikaPikaW commented on #163
Hello,the following problem occurred when i install Zeta：
[code]
and cat /tmp/ansible_debug.log，log information is as follows:
[code]

[2020-11-27 17:10] er1cthe0ne commented on #149
The problem you describe is tracked by number 4 in #120. We didn't have a chance to investigate that yet. For the time being, please use the old way to add flows: execute_openflow_command

Please go ahead to push what you have into your branch. I may go in and fix some existing test failures this weekend.

[2020-11-27 17:42] liangbin-pub commented on #163
Are you using 172.16.62.247, 172.16.62.248? I can't access them. The 249 & 250 seems for ACA only

[2020-11-28 06:31] PikaPikaW commented on #163
Yes, I installed Zeta on 247 and 248, but I am not sure whether Zeta is installed or not. After running ./deploy/ full_deploy.sh -d kind, the above mentioned problems were printed out.Using POST http://172.16.62.247:8080/zgcs didn't get response.I copied down some of the information after I ran full_deploy.sh.

host 247 The running container information is as follows:

[code]

host 247 images info

[2020-11-28 09:10] liangbin-pub commented on #163
Please check why the remote connection to 247 and 248 not working, I need to ssh onto these two:
39.98.115.249:8247
39.98.115.249:8248
ssh access not working according to the instruction sent to me before

[2020-11-28 11:55] PikaPikaW commented on #163
Sorry, some of my wrong operations caused the remote login failure, now 8247 should be restored, 8248 is still not available

[2020-11-28 13:02] liangbin-pub commented on #163
@PikaPikaW There are a few issues in 247 environment:
1. Should NOT use root to build and deploy, just use normal user (sdn), I have fixed access issues caused by this
2. There are problem fetching container images for postgres and nginx which causes zeta services deployment timed out

default              pod/zeta-manager-8d97bc4dc-qlkql                 0/1     ContainerCreating   0          8m48

[2020-11-28 13:18] liangbin-pub commented on #163
I did a manual image pull for postgres, it's super slow, the deployment will certainly fail.
Since all Zeta services are locally built, they will load fast but the postgres and ingress-nginx need to be accelerated:
maybe manually pull them then push to local registry (existing localhost:5000).
Then the yaml files needs to be modified to point image to where you pushed the two images, see:
deploy/i

[2020-11-29 03:42] PikaPikaW commented on #163
ok,Therefore, I need to pull and push these images to the Local Registry locally, then change the script to use the image of local push, and cannot use root to build and deploy.

Some doubt：
What specific images do I need to pull locally?I found postgres:12.1-alpine, but another one wasn't found in the deploy_ingress_nginx.sh script. There is a website,but I can't open it and do I need VPN？

[code

[2020-11-29 04:22] liangbin-pub commented on #163
I found the mirror site for above yaml (from here https://blog.csdn.net/networken/article/details/105122778):
https://raw.sevencdn.com/kubernetes/ingress-nginx/master/deploy/static/provider/kind/deploy.yaml

You can try extend the time out in deploy_zeta_manager.sh but that may not address the issue if deployment yaml or image is not accessible.

[2020-11-29 17:13] PikaPikaW commented on #163
hello,in deploy_postgres.sh, all YML files used found only one image postgres:12.1-alpine need pull in Postgres-Deployment, so I pull image postgres locally, tag it localhost:5000/postgres, and push so that it should pull locally,
And in postgres-deployment.yml ,change the image point to localhost:5000/postgres:latest
[code]
Similarly, deploy_ingress_nginx. Sh, I put the url yml file stored in the

[2020-11-29 18:34] liangbin-pub commented on #163
I checked 247, the problem is only postgres now, the pod is not there because there is a small error in postgres-deployment.yml:
the indent of "containers" was changed wrong causing:

I fixed this part and deploy again, zeta-manager still not up, check the log shows:

Since we never hit such kind of error, I checked the diff in your repo and noticed all files were modified with windows-style line/

[2020-11-29 18:49] liangbin-pub commented on #163
Seems all files are affected by windows style line ending, I fixed with

find . -type f -print0 | xargs -0 dos2unix --

and did a full deploy, it deploys successfully now, you can access zeta NBI API through port 8080

[2020-11-29 18:59] liangbin-pub commented on #163
So mainly in 247 there are three issues deploying in your environment:
1. Avoid using root user to build and deploy
2. Fix accessibility to some yaml/images using mirror sites (Good work!)
3. Avoid adding windows style file/line endings,  docker has issue with it

[2020-11-30 08:04] zhangml commented on #149
Is the id in the "message auxgateway" also a UUID, or is it a string corresponding to a specific number, such as "111"? Because each group entry in ovs needs to specify a group id, which is a number.

`-O OpenFlow13 add-groups br-tun group_id=111`

[2020-11-30 20:53] er1cthe0ne commented on #149
the "id" field is the ZGC id, that's an UUID which have 32 hex of info:

"id": "f81d4fae-7dec-11d0-a765-00a0c91e6bf6",

It will be better to generate an unique number to use for the group entry and track it inside ACA. See the below as an example, be sure to think about reclaiming when resource is deleted:

static atomic_uint current_available_vlan_id(1);

Another solution is the hash on the ZGC i

[2020-12-01 06:13] er1cthe0ne commented on #149
@zhangml  Below is the output to confirm options:remote_ip=0.0.0.0 is accepted in OVS:
 
ovs-vsctl --may-exist add-port br-tun vxlan-generic2 -- set interface vxlan-generic2 type=vxlan  options:df_default=true options:egress_pkt_mark=0 options:in_key=flow options:out_key=flow options:remote_ip=0.0.0.0
 
    Bridge br-tun
        Port "vxlan-generic2"
            Interface "vxlan-generic2"
       

[2020-12-01 11:10] PikaPikaW commented on #163
Now that Zeta has been installed and Zeta's interface is available, I think I need to read ACA gtest and learn how RPC works. Is there any RPC script that has been written to access ACA?Can you send a link,please

[2020-12-01 14:01] zhangml commented on #149
After a simple test, remote_ip should be able to achieve our functions. I added the following flow tables on the two nodes:

[code]
or
`ovs-ofctl add-flow br-tun table=22,priority=50,dl_vlan=1,actions="strip_vlan,load:0x1->NXM_NX_TUN_ID[],output:vxlan-239"`

computer2 172.16.62.239
[code]
Build docker71:192.168.1.71 on computer1 , and build docker91:192.168.1.91 on computer2 ,and set vlan_id to 1.

[2020-12-01 17:59] er1cthe0ne commented on #163
@PikaPikaW - great progress to have Zeta installed. For ACA gtest, you can take a look at /test/gtest/aca_test_ovs_l2.cpp, DISABLED_2_ports_CREATE_test_traffic_PARENT and DISABLED_2_ports_CREATE_test_traffic_CHILD to see how to setup the goal state and do traffic testing. Execution instruction is on top of the file or https://github.com/futurewei-cloud/alcor-control-agent/wiki/How-to-run-the-full-

[2020-12-07 05:43] er1cthe0ne commented on #149
@zhangml - to support the scale requirement, ACA (non-zeta ports) will likely switch to using generic vxlan outport. Here is my manual experiment to confirm that it should work: https://github.com/futurewei-cloud/alcor-control-agent/wiki/Testing-environment-for-using-generic-vxlan-outport

I haven't start that change yet. Here is the change I have been doing to remove the top level vpc_table lock

[2020-12-10 19:57] er1cthe0ne commented on #117
@lly00 - please focus on doing the ARP responder for L2 neighbors. When a port trying to ARP is L3 neighbor, it would simply ARP its default gateway.

[2020-12-14 07:02] zhangml commented on #149
@er1cthe0ne Can a vpc have several auxGateway at the same time? Can a vpc have multiple different types of auxGateway at the same time?

[2020-12-14 07:06] er1cthe0ne commented on #149
@zhangml - a vpc can have:
1. one or zero Zeta auxGateway
1. one or zero internet auxGateway (likely one)
1. one or zero NAT auxGateway (I think)

[2020-12-14 07:32] zhangml commented on #149
Can these three types of auxgateway be owned at the same time? For example, a vpc has both a zeta and a NAT?

[2020-12-14 07:34] er1cthe0ne commented on #149
yes, a VPC can have Zeta and NAT auxGateway at the same time.

[2020-12-15 19:52] er1cthe0ne opened #178 "[Perf] bundling neighbor info for ACA processing to improve performance"
**context**

When handling a lot of neighbors (up to 1,000,000) in ACA, we are seeing contention in number of threads and openflow calls which slows down the processing.

**action**

We want to bundle the neighbors info update to improve performance, the propose change includes:

1. bundle similar neighbor info for processing at the same time in one thread, like processing 100 neighbors chunks
2.

[2020-12-17 19:10] er1cthe0ne opened #183 "[Zeta] add test validation code in aca_test_zeta_programming.cpp"
This is for @PikaPikaW and @HuaqingTu to work on.

We need to add the following two test validation in aca_test_zeta_programming.cpp:

1. after the goal state is pushed into ACA, confirm the corresponding openflow rules is programmed, use either ACA_OVS_Control::get_instance().flow_exists or ACA_OVS_L2_Programmer::get_instance().execute_openflow_command to check
2. after successful goal state prog

[2020-12-22 12:13] PikaPikaW commented on #183
Hello, I would like to ask, if I want to visit the VM(zgc node) on Server07, I need user name and password to log in, what should I fill in the user name and password?

[2021-01-04 15:12] PikaPikaW commented on #183
running "./deploy/full_deploy.sh -d lab" on tower1,the following error arise in /var/log/ansible.log, There is no registry container on server2, so I tried to manually create a local repository on server2 using "docker run -p 32000:5000 registry:2", but it always failed.
[code]

[2021-01-05 01:30] liangbin-pub commented on #183
Hi, the registry is part of k8s, so it's not exposed externally as docker container. you can use microk8s status or kubectl get pods etc to check it's status.

[2021-01-05 01:55] er1cthe0ne commented on #163
current documentation has been merged with #173

[2021-01-05 01:55] #163 closed

[2021-01-05 21:11] #120 closed

[2021-01-06 04:10] PikaPikaW commented on #183
Hello, server2's Zeta control plane installation is still unsolved, so I wonder if I can let Tower1 offer Zeta REST API first and then use Pseudo Controller.

[2021-01-06 05:11] liangbin-pub commented on #183
Yes, you can, the real cause is access to public docker images, before you can change host with mirror images, now it's deployed remotely to another server without access to local cache, causing issues.

[2021-01-06 05:12] liangbin-pub commented on #183
Also, there seems to be a proxy in between, I saw the microk8s cluster starts but all pods are trying to pull images

[2021-01-06 06:27] liangbin-pub commented on #183
Following manual steps on server2 helps, zeta control plane cluster loaded, it is updating ZGC nodes now, very slow though
docker pull postgres:12.1-alpine
docker pull docker.io/jettech/kube-webhook-certgen:v1.5.0
docker pull registry.cn-beijing.aliyuncs.com/lingshiedu/ingress-nginx-controller:0.41.2
docker pull registry.cn-beijing.aliyuncs.com/zhoujun/pause:3.1
docker tag registry.cn-beijing.aliy

[2021-01-06 07:02] PikaPikaW commented on #183
Yes, the virtual machine on server2 is very slow to access the external network, so it is very slow to update APT and install the basic package. I tried to replace the apt mirror source and add domestic DNS, but didn't work. Finally, I set HTTP proxy on server2 (port 10838) to solve the problem

[2021-01-06 08:31] liangbin-pub commented on #183
It's almost working now, still in the process of updating ZFC node kernel(needed only for 1st time) , but control plane all deployed.
Later on, if need cleanup zeta, avoid using full_deploy.sh, just use zeta_deploy.sh -d lab to avoid re-deploying the whole k8s cluster again.

[2021-01-06 12:19] PikaPikaW commented on #183
yes,thanks for your help very much. cleanuping zeta mean deleting zgc,vpc,nodes,ports information in server2? or restart REST API server? so, now if use curl http://172.16.50.8/zgcs, it response successfully which mean server2's zeta deplotment is ok, right? I've tried, but it doesn't seem to work. or do I need to wait for the ZGC Node Kernel update finished.

[2021-01-06 21:50] liangbin-pub commented on #183
Have repeated a few times, Zeta control plane (k8s on 50.8) and ZGC nodes (VMs on 50.7) deploys fine now.
To avoid long image pulling for ZGC nodes, I have copied some files in 50.7 ~/kvm folder, please don't delete those in case we need to build up from scratch again.
For k8s cluster on 50.8 where Zeta control plane is running, try not wipe it out with full_deploy.sh as many k8s basic services wo

[2021-01-06 22:37] liangbin-pub commented on #183
@PikaPikaW Please take my notes for future reference in case need to do it again :(
============ on 172.16.50.7 for ZGC KVM nodes:
root@server07:~/kvm# cat /etc/apt/sources.list
deb http://mirrors.aliyun.com/ubuntu/ bionic main restricted universe multiverse
deb http://mirrors.aliyun.com/ubuntu/ bionic-security main restricted universe multiverse
deb http://mirrors.aliyun.com/ubuntu/ bionic-update

[2021-01-07 01:05] er1cthe0ne commented on #149
implementation merged as #180

[2021-01-07 01:05] #149 closed

[2021-01-07 01:56] zzxgzgz opened #188 "DISABLED_zeta_scale_PARENT quits abruptly."
When running DISABLED_zeta_scale_PARENT or DISABLED_zeta_scale_CHILD with multiple ports to setup on the same node, the test case sometimes ends without even telling if the test case succeeded or failed, here are some examples:
[code]

[code]

[code]

Sometimes it runs successfully:
[code]

We suspect that it has to do with aca doing something concurrently, but it wasn't being well handled.

Could

[2021-01-07 05:36] er1cthe0ne commented on #188
gdb outputs:

(null): talking to unix:/var/run/openvswitch/br-int.mgmt (Connection reset by peer)
ACA_Zeta_Programming::clear_all_data ---> Entering
Command succeeded!
ACA_Zeta_Programming::clear_all_data <--- Exiting
 Elapsed time for system command took: 9026 microseconds or 9 milliseconds.
Executing command: ip link set dev tap0000005ae-7 address 6c:dd:ee:0:0:5
Command succeeded!
 Elapsed time

[2021-01-07 07:02] zhangml commented on #188
@er1cthe0ne @zzxgzgz In my environment, Aca_Goal_State_Handler::get_instance().update_router_states(
            goal_state_message, gsOperationReply) method is not executed, and there is no port state information in the printed goal state, so every time the test is run, the result is passed. I think I have not set up the environment correctly, please tell me the correct steps. The log of my runni

[2021-01-07 07:25] liangbin-pub opened #189 "[Zeta] Data path integration"
Track and communicate data path integration findings

[2021-01-07 07:35] liangbin-pub commented on #189
Initial findings:
1. ZGC gateway entries' MAC addresses are not used for vxlan encapsulation, should be set using dl_dst as part of group table action
2. When I manually added those as static arp entry, the captured vxlan still shows problems:
    - destination MAC is some strange value 00:04:00:01:00:06
    - there are two extra bytes 0x00 00 between outer source MAC and ethertype 0x0800
 pcap:
0

[2021-01-07 17:22] zzxgzgz commented on #188
@zhangml

Is the data in your `aca_data.json` correct? It may be because that, the port data in your json file doesn't match your test environment (e.g. field `ip_node` should match the IPs of your aca nodes).

If you have to change that if statement to have aca to process the node info when it is NOT on the same host, then the ip_node is probably not correct in your json file.

To generate the co

[2021-01-07 18:30] liangbin-pub commented on #189
for reference:
oot@fw001157:~# ovs-ofctl -O OpenFlow13 dump-groups br-tun 1
OFPST_GROUP_DESC reply (OF1.3) (xid=0x2):
 group_id=1,type=select,bucket=actions=set_field:192.168.20.113->tun_dst,output:"vxlan-generic",bucket=actions=set_field:192.168.20.111->tun_dst,output:"vxlan-generic",bucket=actions=set_field:192.168.20.110->tun_dst,output:"vxlan-generic",bucket=actions=set_field:192.168.20.109->t

[2021-01-07 19:52] er1cthe0ne commented on #189
Non-zeta packet can be communicated with OVS fine and able to use tcpdump to capture the valid IPv4 tunnelled packet.

zeta packet is sent to zgc and the packet capture by @liangbin-pub show that it has extra "0000" before "0800" which make it an invalid packet.

I am seeing difference in how the Zeta openflow rule is constructed and understood by OVS:

int ACA_Zeta_Programming::_create_zeta_group

[2021-01-10 08:37] zhangml commented on #188
@zzxgzgz  @er1cthe0ne After I commented out part of the code in ACA_OVS_L2_Programmer::create_port(), the error does not appear. I guess it is caused by the conflict caused by executing the ovsdb_command command on br-int at the same time.
[code]

[2021-01-11 19:28] er1cthe0ne commented on #188
Looking at this error message from syslog: 2021-01-07T05:07:21.550205+00:00 28abfb290c2e ovs-vswitchd: ovs|03181|rconn|INFO|br-int<->unix#2985: disconnecting

It should be expected based on: https://mail.openvswitch.org/pipermail/ovs-discuss/2016-April/040852.html

Current status:

1. we believe the code in "demo mode OVS internal port creation" and "if (found_auxgateway.aux_gateway_type() == ZETA

[2021-01-12 07:48] zhangml commented on #189
@er1cthe0ne Similar to CTSL::HashMap, is there a library file for hashSet?

[2021-01-12 17:55] er1cthe0ne commented on #189
@zhangml - please note that the mac change (number 1 above) is highest priority and we need the change pretty quickly.

This is second priority. You can still leverage CTSL::HashMap and use it similar to hashSet, please see:

namespace aca_vlan_manager
{
struct vpc_table_entry {
  uint vlan_id;

  // list of ovs_ports names on this host in the same VPC to share the same internal vlan_id
  // CTSL:

[2021-01-13 23:14] liangbin-pub commented on #189
Update as of 1/13/21:
Ping respond was not captured at requester.
Observation:

1. On bridge between ACAs and ZGC nodes, capture VxLAN packets we see ZGC is responding to ARP request correctly, forwarding ICMP ping request and respond correctly, see tcpdump below for complete exchange captured:
[code]

2.  On bridge between ACAs and ZGC nodes, captured OAM packets we generated and sent by ZGC:
[co

[2021-01-14 08:08] liangbin-pub commented on #189
Complete ARP-Ping-OAM round trip test passed!

Pseudo controller test result:
[code]

Ping requester (ACA parent) packet capture:
[code]

br-tun flow table dump after test should have dynamic flow added by OAM packet (4th packet above), Eric and Minli please check:
[code]

[2021-01-14 11:31] zhangml commented on #189
@liangbin-pub ACA should install the rules on table20 after receiving the oam package, but I did not see it.

[2021-01-15 02:25] zzxgzgz opened #194 "[Zeta] Design update: Capture OAM Packets without OVS"
When investigating why ACA didn't receive the OAM packet, looking at how we construct the OVS bridges today, it will only see tunnelled packet in br-tun. Therefore, non-tunnelled packet like the OAM will not reach br-tun nor forward up to br-int.

@liangbin-pub and I looked at different options and decided to go ahead to listen to the OAM packet directly in ACA instead of forcing non-tunnelled pac

[2021-01-15 02:39] #188 closed

[2021-01-15 03:03] er1cthe0ne opened #195 "[Zeta] redundant ARP request for Zeta node"
**Context**
Zeta group rule leverage the Zeta node destination IP and destination MAC for vxlan packet forwarding. Since the destination mac is already filled in by group rule, the expectation is no ARP request for destination IP is needed.

**Expected**
1.  no ARP request for destination IP is sent
2. tunnel packet will be forwarded to Zeta node

**Actual**
1. ARP request for destination IP is se

[2021-01-15 03:05] er1cthe0ne commented on #189
we got ping working E2E now, the remaining issues are tracked by: #194 and #195

[2021-01-15 03:05] #189 closed

[2021-01-15 05:06] liangbin-pub commented on #195
Fall back plan is to use the ZGC entries information to populate static ARP, static ARP method has been validated working.

[2021-01-15 05:06] er1cthe0ne commented on #195
perhap this behavior is due to the fact that we didn't specify a physical interface or IP in our vxlan-generic port, and that trigger the linux networking stack to send ARP request to looking for the best local interface to use. Let's try to add the tenant network interface IP into the vxlan-generic port to see if that helps.

It will require changing of aca code in aca_ovs_l2_programmer.cpp, line

[2021-01-15 13:15] PikaPikaW commented on #183
@liangbin-pub @zzxgzgz Hi, I am using Pseudo controller code to test in our Lab environment,but I find that Server2's Zeta API service does not seem to work properly, and ZGC was added successfully but failed when adding Nodes. I checked that zeta_data_sdn.json has been adjusted for our lab environment, also used "./deploy/ zeta_deploy.sh-d lab" to cleanup zeta data on tower2. but the problem was

[2021-01-15 17:16] zzxgzgz commented on #183
Can you share the logs of the Zeta manager? It should have the reason why the node wasn't added successfully.

To check the logs of the manager pod, use this command:
[code]

However, from the above command, you shouldn't be able to see much, as it outputs the manager's log to a log file inside the container, to access it, please use the following command:
[code]

Thanks.

[2021-01-15 17:40] er1cthe0ne commented on #195
response from ovsdev:

When OvS tries to send tunnel packets, OvS will use the arp, if there
is no arp, request it.

I add a feature, then OvS can learn arp from linux kernel. In other
words, we disable it ?
http://patchwork.ozlabs.org/project/openvswitch/list/?series=220295

[2021-01-16 01:26] er1cthe0ne commented on #195
adding options:local_ip=192.168.20.92 for vxlan-generic port doesn't help. This confirms the ovsdev statement above. We will go with the fallback plan mentioned by @liangbin-pub .

@zhangml there are two action items to execute the fallback plan. Please go ahead to add the static arp entries ("arp -s ipaddr macaddr) when creating the group rule, remove the static arp entries when deleting the grou

[2021-01-16 01:48] #194 closed

[2021-01-17 02:50] PikaPikaW commented on #183
@zzxgzgz,hi,thanks for your guidance and i  find the log file "/var/log/gunicorn/error.log" on machine tower2 ip is 172.16.50.222( then zeta api deployed on server2 ip is 172.16.50.8,im a little confused why the manager pod is on tower2, I don't know much about how K8s works),and the contents of log are as follows:
[code]
and i didnot find file about db under /opt/zeta/manager/project/ :
[code]
Is

[2021-01-17 04:50] liangbin-pub commented on #183
There was a merge issue before, zeta repo is quite old in your lab. Please upgrade Zeta to latest

[2021-01-17 04:51] zzxgzgz commented on #183
Hi @PikaPikaW ,

seem like that you are using the code where `db` is missing, there are two ways to solve this:
1. Manually add this line `from project import db` to `ports.py` and `nodes.py`, and other `zeta_api_resource_name.py` under the `zeta//src/mgmt/manager/project/api/` folder, then build zeta using command `./build.sh debug`, and re-deploy zeta using command `./deploy/zeta_deploy.sh -d la

[2021-01-18 13:15] PikaPikaW commented on #183
Hi, the zeta api problem has been solved after update Zeta code. Now, after running run.py, there are some problems, as follows:
[code]
Do you have met similar problems?  The 'ovs-vsctl show' shows no port tap333d4fae-7d and Aca_vlan_manager::create_ovs_port does not actually create this port(looks like it's added to a hash table), so do I need to create this port first before running run.py?

[2021-01-18 18:26] zzxgzgz commented on #183
Maybe you haven't got the latest code yet? You should do it every day as the repo merges new code pretty frequently.

Thanks.

[2021-01-19 07:51] zhangml opened #197 "[Zeta] Clean up oam cache and OVS code"
Since there is no need to process oam packets in ovs, some codes (such as oam_port_cache) are no longer needed and need to be cleaned up.

[2021-01-19 08:31] PikaPikaW commented on #183
Hi, the lab environment here is fine (thanks very much for your help @liangbin-pub @er1cthe0ne @zzxgzgz).and I tested adding two ports, after running run.py, there was a virtual network card tap333d4fae-7d(10.10.0.92) on tower1 and tap99976fee-7(10.10.0.93) on tower2 respectively.flow table entries are as follows:
[code]
then, I manually test ping. run 'ping -I 10.10.0.92 -c1 10.10.0.93' on tower1

[2021-01-19 09:43] PikaPikaW commented on #183
The group entry MAC address issue has been resolved.

[2021-01-19 11:28] PikaPikaW commented on #183
Hello, I think the reason why ping doesn't work is that Zeta code hasn't been completely updated. After updating the Zeta code,
re-build zeta using command ./build.sh debug, it will get stuck in updatting submodule (git submodule update --init --recursive),
I want to clone alcor directly in catalogue zeta/src/extern/alcor-control-agent/ and comment out 'git submodule update --init --recursive' in

[2021-01-19 14:38] liangbin-pub commented on #183
There is another submodule libbpf under extern, also, ACA has its submodule for Alcor. You can manually clone both and comment out the submodule update.
BTW, "The group entry MAC address issue has been resolved." any details?

[2021-01-19 17:07] zzxgzgz commented on #183
Just a side note:

On the ACA nodes, can you do an `arp -n` to see if the arp entries for the zeta gateways are there and complete? Here is a picture for your reference:
![image](https://user-images.githubusercontent.com/32083634/105068104-5d4c9a80-5a35-11eb-8f1d-01fdf454d52e.png)
these arp entries are set using the command `arp -s ip_address mac_address`, and the ip_address and mac_address can be

[2021-01-19 19:08] #195 closed

[2021-01-20 01:40] PikaPikaW commented on #183
@liangbin-pub Because I forgot to recompile after updating the ACA code, group entry has  MAC address in the latest ACA code.

[2021-01-20 02:58] PikaPikaW commented on #183
@zzxgzgz it works, before ping ,the zeta gateways are there but incomplete, i manually add mac_address and ping is ok, so ,now i should add some code to validate the n_packet in flow entry will increase correctly after ping. like as flowes:
[code]
The first two flow entries increases (in_port="patch-int", in_port="vxlan-generic") to indicate that the ping packet was successfully sent to the Zeta g

[2021-01-20 03:29] zzxgzgz commented on #183
For now, it is safer to check this line:
[code]

note that `group:1` may not be fixed in the future.

Also, since can ping working, can you please try to test with more ports created, to see if ping still works? You can try with like 10 ports.

Thank you

[2021-01-20 18:15] PikaPikaW commented on #183
Hello, the experiment of adding 10 ports was successful, but ping doesn't seem to work(arp-n has the zeta gateway's mac address), then tests the code that verifies whether the group table entry exists under 2 ports experiment, but when run the function "ACA_Zeta_Programming::get_instance().get_group_id",turn out Segmentation fault, aca code has been updated.
[code]

[2021-01-20 18:19] liangbin-pub commented on #183
There is a bug for multiple ports goal state, Rio and Eric is working on, should be fixed soon

[2021-01-21 01:36] er1cthe0ne opened #201 "[Zeta] update to use the latest Alcor gateway schema"
Context:

The gateway schema was recently updated based on latest gateway design. It moved the gateway configuration as a top level resource: https://github.com/futurewei-cloud/alcor/blob/master/schema/proto3/gateway.proto

and vpc configuration linked to it by gateway_ids: https://github.com/futurewei-cloud/alcor/blob/master/schema/proto3/vpc.proto

Action items:

1. Update Alcor submodule to the

[2021-01-21 18:33] zzxgzgz opened #203 "[Zeta] Concurrency issue with group id."
**What happened:**

When running testcase to set up zeta ports, the testcase sometimes fails, here are some outputs:
[code]

We can see that the group_id is set to 2, when I was only running with only 1 VNI(888), hense group_id should only be 1. Please check the attached file for complete log.
[testcase_output.txt](https://github.com/futurewei-cloud/alcor-control-agent/files/5851380/testcase_outpu

[2021-01-21 18:42] er1cthe0ne commented on #203
Note that we faced similar issue in ACA due to the fact that multiple ports creation were done in multiple threads concurrently. We have the add a lock around finding and creating entries so that we don't have multiple thread finding nothing and creating redundent entries after. Please use locks carefully as it will slow things down.

Also note the below from the log file, looks like there are red

[2021-01-21 19:24] #197 closed

[2021-01-22 11:47] zhangml commented on #201
@er1cthe0ne I don't quite understand why there is no gatewaystate in GoalState? Where is the gateway message obtained from?
https://github.com/futurewei-cloud/alcor/blob/master/schema/proto3/goalstate.proto

[2021-01-22 18:18] zzxgzgz commented on #203
@zhangml

A possible reason for this behavior can be found here:
https://github.com/futurewei-cloud/alcor-control-agent/blob/master/src/zeta/aca_zeta_programming.cpp#L197

According to the log attached above, multiple threads called this `create_zeta_config` funciton, and in this if statement, there's no lock used to protect it, and `created_entry` was called, in which a new zeta config was create

[2021-01-22 23:17] er1cthe0ne commented on #201
You are right, I have fixed that in https://github.com/futurewei-cloud/alcor/pull/543 . The change is approved and should be merged soon.

[2021-01-25 01:23] #117 closed

[2021-01-25 18:30] #203 closed

[2021-01-26 13:50] PikaPikaW commented on #183
Hello, @liangbin-pub , because Qian Yu needs to use the laboratory machines to do the paper experiment, so the four machines in the lab environment will take up a period of time. so i want to ask if the lab environment is still needed? zhangml does not need the lab environment now and I will back up some files for the purpose of rebuilding the environment later

[2021-01-26 17:46] #183 closed

[2021-01-28 18:34] er1cthe0ne opened #209 "[Zeta] Update documentation on the current design/implementation and test environment setup"
With the recent release of Zeta. It is time to update the documentation with our latest design and provide more details, this include:

1. Update with the latest design, e.g. OAM handling has changed to direct processing instead of using OVS/Openflow: https://github.com/futurewei-cloud/alcor-control-agent/blob/master/docs/zeta_integration.adoc
2. Rename manual_construction.md to Zeta_manual_constr

[2021-01-28 18:42] er1cthe0ne opened #210 "Setup Travis CI"
We want to setup Travis CI for this repro. The steps are:

0. Get familiar with Travis CI, this is a good start: https://blog.travis-ci.com/2019-05-30-setting-up-a-ci-cd-process-on-github
1. Enable Travis CI for this repro (done)
2. Setup a simple Travis in your Fork, which just setup the test environment and return pass :)
3. Review and leverage the Travis setup from Zeta: https://github.com/futu

[2021-01-31 11:22] PikaPikaW commented on #210
Hello, I have seen The Travis Setup from Zeta and have some questions:
Does ACA need to create containers as ACA nodes, and does Zeta api need to get information like VPC and ports?
and before script something aca doesnot need:
[code]
i think aca dosenot need Kind,Kubectl,ansible,kernelupdate.sh and doesnot need build Zeta

[2021-02-01 05:18] er1cthe0ne commented on #210
Travis will create two containers for the two ACA nodes (parent and child nodes). Zeta is not involved for this setup.

that's correct :)

[2021-02-04 01:13] #209 closed

[2021-02-04 18:54] #201 closed

[2021-02-18 22:32] kiran1048 opened #216 "Ping test between ACA containers fail with core dump"
The unit test for running ping between two ACA containers (aca_CHILD and aca_PARENT) fails.
The gtest filter is: DISABLED_2_ports_CREATE_test_traffic_PARENT

The ping test run on two child and parent container are:
./build/tests/aca_tests --gtest_also_run_disabled_tests --gtest_filter=*DISABLED_2_ports_CREATE_test_traffic_CHILD -p <parent_IP>
./build/tests/aca_tests --gtest_also_run_disabled_tests

[2021-02-18 22:47] er1cthe0ne commented on #216
There are two problems in the test run, likely after the ARP responder change. @lly00 - can you look into this?

1) ping failed after ARP responder return success.
2) core dump at the end of parent test (not 100% repro), logs below:
Executing command: ping -I 10.10.1.102 -c1 10.10.1.104
PING 10.10.1.104 (10.10.1.104) from 10.10.1.102 : 56(84) bytes of data.
2021-02-18 18:54:03.542: NXT_PACKET_IN2

[2021-02-19 00:48] kiran1048 opened #217 "ACA unit test ovs_l2_test_cases.1_port_CREATE_DELETE failure"
The unit test binary in ACA, built and located at:
./build/tests/aca_tests
fails the run.

The test "1_port_CREATE_DELETE failure" is defined at test/gtest/aca_test_ovs_l2.cpp

[2021-02-19 01:21] er1cthe0ne commented on #217
the fix is to change the below function in aca_vlan_manager.cpp to the below, I have confirmed the test case failed before the change, and then passed after the change:

int ACA_Vlan_Manager::delete_ovs_port(string /*vpc_id*/, string ovs_port,
                                      uint tunnel_id, ulong &culminative_time)
{
  ACA_LOG_DEBUG("%s", "ACA_Vlan_Manager::delete_ovs_port ---> Entering\n");

[2021-02-19 23:30] #210 closed

[2021-02-19 23:30] #217 closed

[2021-02-23 19:23] xieus commented on #161
@er1cthe0ne Can you or @kiran1048 take on this item as well, along with the one-box setup?

[2021-02-23 19:34] er1cthe0ne commented on #161
@xieus - this is more of a trial and error task. I can work with @kiran1048 on it. I think the first step is the remove the old kafka code and dependencies. And work with @lly00 to get the right pulsar dependency into ACA.

[2021-03-02 13:33] lly00 commented on #216
@er1cthe0ne
 I have checked that the test in my own environment works well.  The child_output.txt file above shows that there were arp packets but the arp responder didn't work. This may cause the failure of ping tests, but I still can not figure how it happens.

As for the core dump problem, when we receive the arp request and the corresponding mac address is not in the cache, arp responder resub

[2021-03-03 01:51] er1cthe0ne commented on #216
@lly00 - got it. Thanks for sharing your output. We are able to reproduce the success you see in a fresh environement and we also reproduced the failures mentioned in this issue. We are investigating it now and will update you.

[2021-03-05 01:14] #216 closed

[2021-03-05 18:34] zzxgzgz opened #219 "Need proper cleanup for the static arp entries in DISABLED_create_auxgateway_test"
The DISABLED_create_auxgateway_test testcase used to be NOT disabled, meaning that it will run automatically as one of the unit testcases.

However, in `aca_CHILD` container, which runs the unit tests before running the traffic tests, has the static ARP entries left after the unit tests. After running `DISABLED_create_auxgateway_test`, you can find the arp entries with this command:
[code]
and you

[2021-03-05 19:03] er1cthe0ne opened #220 "[Bug] memory corruption / invalid free when dealing with ARP entry not exist"
When dealing with ARP entry not exist situation, like deleted the neighbor info and then send traffic to that neighbor. The below code in aca_arp_responder would crash (about 50% repro):

void ACA_ARP_Responder::arp_xmit(uint32_t in_port, void *vlanmsg, void *message, int is_found)
{
  arp_message *arpmsg = nullptr;
  string bridge = "br-tun";
  string inport = "in_port=controller";
  string white

[2021-03-10 18:30] #220 closed

[2021-03-15 18:40] er1cthe0ne opened #223 "[Test bug] DISABLED_l2_arp_test_one_machine not passing"
The DISABLED_l2_arp_test_one_machine is not passing on our lab machine setup, the command used below (machine IP is 10.213.43.187):

./build/tests/aca_tests --gtest_also_run_disabled_tests --gtest_filter=*DISABLED_l2_arp_test_one_machine -c 10.213.43.187

Below is the relevent logs, the failure could be caused by the fact that we didn't pass in port configuration into the goal state? We can consid

[2021-03-16 13:02] lly00 commented on #223
Since the code `set_host_ip_address("172.16.62.158")` set the host ip as my computer's ip, the test do not actually update L2 neighbor info. However, it will have an adverse effect on other test nodes. One way to solve this problem is to remove all the configuration steps since they are not necessary.(or just remove the test case)

[2021-03-16 13:03] lly00 commented on #223
Since the code `set_host_ip_address("172.16.62.158")` set the host ip as my computer's ip, the test do not actually update L2 neighbor info. However, it will have an adverse effect on other test nodes. One way to solve this problem is to remove all the configuration steps since they are not necessary.(or just remove the test case)

[2021-03-16 20:32] er1cthe0ne commented on #223
Yes, I believe this ARP test case is already covered by other ARP and traffic test cases. If you agree, then please remove this test case. Thanks.

[2021-03-30 02:31] kiran1048 opened #229 "ACA Segment Faulting when started after busybox container is started"
On a compute node, start a busy box container and assign a IP/MAC to the container instance through:
   docker run -itd --name <container name>  --net=none busybox sh
   ovs-docker add-port br-int eth1 <container name> --ipaddress=<address>  --macaddress=<mac>

This creates a bridge br-int. Thereafter when you start the ACA on the same compute node, we see ACA crashing with segmentation fault as s

[2021-03-30 05:06] er1cthe0ne commented on #229
It will be a good idea to fix the Segmentation fault, using gdb to pinpoint the code issue.

The actual problem is showed in the log "Invalid environment br-int=1 and br-tun=0, cannot proceed", br-int is created by the ovs-docker command. It created a situation where br-int exist but br-tun doesn't exist. ACA doesn't know how to proceed on this weird environment.

[2021-03-30 16:21] zzxgzgz commented on #229
@er1cthe0ne

The issue is caused here:
https://github.com/futurewei-cloud/alcor-control-agent/blob/master/src/aca_main.cpp#L221

In some of our test senarios, we might start some busybox containers and use `ovs-docker add port ...` command to add a port for the container, which causes the creation of the br-int(br-tun remains non-existent).

When we call the `aca_ovs_l2_programmer::ACA_OVS_L2_Prog

[2021-03-30 16:57] kiran1048 commented on #229
As @zzxgzgz suggested, when a check is made, we are able to prevent a crash:

$ ./build/bin/AlcorControlAgent -d
ACA_OVS_L2_Programmer::setup_ovs_bridges_if_need ---> Entering
ACA_OVS_L2_Programmer::execute_ovsdb_command ---> Entering
Executing command: ovs-vsctl br-exists br-int
Trying to init a new sub to connect to the NCM
After initing a new sub to connect to the NCM
Streaming capable GRPC ser

[2021-03-31 02:51] cj-chung opened #232 "ACA create tap device failed in OpenStack/Nova environment."
We hit one issue in Medina cluster. When Nova try to create a VM, ACA keep showing `no row "tap6d4da8e7-6d" in table Port` in syslog. This causes Nova give up the VM creation and eventually delete VM and requested resoures from alcor.

[code]

[2021-03-31 05:10] xieus commented on #232
@er1cthe0ne ovs-vsctl show did list the port tap6d4da8e7-6d but somehow Nova compute can't recognize it. Checking to see if you provide some quick thoughts on this issue. Thanks.

[2021-03-31 06:00] er1cthe0ne commented on #232
The tap device is created by Nova and Nova plugged it into br-int which looks successful from the log. The “no row "tap6d4da8e7-6d" in table Port” error can be ignored because aca will keep trying to set the internal vlan id until the ovs port is created by nova.

based on the log, everything looks good until nova decided something went wrong with VM creation and then went ahead to unplug the tap

[2021-03-31 06:40] xieus commented on #232
Thanks for the comments. Regarding 1, we are adding more logs to Nova neutron agent, no obvious error reported by Nova so far except the suspicious "no row XXX in table port" exception, but you are right, it is likely not the cause.

Regarding 2, no APIs or protocol change that I am aware of, and no obvious error/exception were caught in those microservices as well.

At this point, let us get some

[2021-03-31 16:56] cj-chung commented on #232
Nova was actually create a tap device:
[code]
and ACA also created the tap device in OVS and attached to br-int:
[code]
during the nova keep process spawning, ovs keep complaining about:
[code]
after 300s, Nova decided to unplug the tap device and call instance destroy process.

[2021-04-01 01:18] er1cthe0ne commented on #232
ACA won't create any device or attach a device to OVS br-int in the non-demo mode.

The above output shows the ACA call to set the internal vlan ID was successful (eventually?)

looking at the logs in this issue description:

Mar 30 18:47:50 fw0009076 nova-compute[18643]: 2021-03-30 18:47:50.593 18643 DEBUG os_vif [req-ad7fd374-839d-4d2a-8004-23fcb69f5daa 366deb5d5fe44ac7834b14de65f179cd bba04015f

[2021-04-01 05:43] xieus commented on #232
Some new finding today: Nova jumps into the loop of healing instances but never gets out until timeout.
[code]

btw, does the status of VIFOpenVSwitch matter here? See this one:
**VIFOpenVSwitch(active=False**
[code]

[2021-04-02 01:01] er1cthe0ne commented on #232
so looks like one of the peroidic task returned error and nova try to heal the VM instance. Million dollar question is why is nova (agent) not happy about this VM instance, one guess/theory is it has an Invalidate network info cache: https://bugs.launchpad.net/mos/+bug/1422686

Not sure if that matters as we see that in all other places in the log. We should be concerned if OVS it not running :)

[2021-04-08 22:15] cj-chung commented on #232
The root of cause of this issue is that Nova doesn't like the status return from Port update.
PM should return `"status"="ACTIVE"` instead of `"status"="success"`.

[2021-04-08 22:17] cj-chung commented on #232
Please check PR https://github.com/futurewei-cloud/alcor/pull/587

[2021-04-09 20:22] cj-chung commented on #232
This issues is solved by PR https://github.com/futurewei-cloud/alcor/pull/587

[2021-04-09 20:22] #232 closed

[2021-04-09 20:27] cj-chung opened #233 "[Deployment] Create Ansible script to automatically deploy ACA on multiple nodes."
The current ACA deployment scripts use ssh remote execution to parallel run deployment script on each node in the cluster. The parallel remote script execution cannot guarantee the completion of the task. We need to rewrite the deployment script using Ansible.

Please check current scripts in https://github.com/futurewei-cloud/alcor-int/tree/master/tools/aca-deployment

[2021-04-21 00:12] cj-chung opened #242 "Neighbor configuration error when ACA create or update L3 neighbor."
**Reproduce Step:**
1. Create a network/subnet1/VM1
2. Create subnet2 and port2-in-subnet2
3. Create a router and attach gateways from subnet1 and subnet2
4. Create VM2 and attach port2-in-subnet2

**Result:**
Host1 (VM1) got neighbor configuration error when ACA create or update L3 neighbor.

<pre><code>
Apr 20 17:05:41 fw0009076 AlcorControlAgent: [update_goal_state:81] Starting to update goal s

[2021-04-21 00:16] cj-chung commented on #242
Host2 (VM2) got log like this:

[code]

[2021-04-21 00:35] er1cthe0ne commented on #242
from the first log, below is the problem, the caller suppose to give neighbor_id copy from it original port ID:
Apr 20 17:05:41 fw0009076 AlcorControlAgent: Invalid argument exception caught while parsing neighbor configuration, message: neighbor_id is empty.

from the second log, below is the problem, did you send down the subnet corresponding to the neighbor?
Apr 20 17:05:41 fw0015533 AlcorContr

[2021-04-22 16:42] cj-chung commented on #242
DPM log for Port1 (VM1):

[code]
[code]

DPM log for port2 (VM2):

[code]

[code]

[2021-04-22 16:43] cj-chung commented on #242
The suspicious part is that the goalstate in the second port, its neighbor_state is UPDATE. Maybe it should be CREATE?

[2021-04-23 18:18] cj-chung commented on #242
PM's log when PM got RM's `update-l3-neighbors` API call:

<pre><code>
2021-04-23 17:48:01.542 DEBUG 1 --- [nio-8080-exec-1] o.s.web.client.RestTemplate              : HTTP PUT http://dataplanemanager-service.default.svc.cluster.local:9010/network-configuration
2021-04-23 17:48:01.542 DEBUG 1 --- [nio-8080-exec-1] o.s.web.client.RestTemplate              : Accept=[application/json, application/*+j

[2021-04-23 19:16] cj-chung commented on #242
For the Scenario #5 (add/remove subnet gateway to router, the ports are already created), DPM got logs:
[code]

DPM only got neighbor information from PM, there is no router info.

[2021-04-24 16:55] er1cthe0ne commented on #242
The DPM log aligns with my previous assessment.

No problem for ACA, as it was made flexible to accept CREATE/UPDATE/INFO for neighbor configuration. See https://github.com/futurewei-cloud/alcor-control-agent/blob/6b38432170932ae05b859278059e1e4226971722/src/dp_abstraction/aca_dataplane_ovs.cpp#L657

[2021-04-26 18:33] cj-chung commented on #242
For test scenario #4 (normal port creation with router)
DPM's log for VM1 in Host1:
[code]

[code]

[2021-04-26 18:41] cj-chung commented on #242
PM's log for VM1:
[code]

[2021-04-26 18:43] cj-chung commented on #242
PM's log for VM2 (should have routerinfo and neighbor state):
[code]

[2021-04-26 18:44] cj-chung commented on #242
DPM's log for VM2 (Host2):
[code]

[2021-05-18 21:38] zzxgzgz opened #243 "Need subnet state in order to configure the router."
In the current ACA implementation, when create/update a router, ACA code will look into the GS that the router state is in, for subnet states. Need to investigate if it is possible to leverage the subnet info already stored in the ACA itself.

Related code:
GSV1:
https://github.com/futurewei-cloud/alcor-control-agent/blob/master/src/ovs/aca_ovs_l3_programmer.cpp#L161

GSV2:
https://github.com/futu

[2021-05-25 17:24] #242 closed

[2021-06-02 23:30] zzxgzgz opened #245 "Can/should ACA configure gateway when only subnet state is provided?"
Current observation from @cj-chung is that, when a VM is created, it sends a DHCP request, and got the gateway address from the DHCP reply, and the VM will try to ping the gateway. However, because there's no arp entry or flow added for the gateway, the gateway cannot be pinged.

As we can see in https://github.com/futurewei-cloud/alcor/blob/master/schema/proto3/subnet.proto#L41, gateway IP and MA

[2021-06-02 23:48] zzxgzgz opened #246 "Wrong return code when adding/updating a router with multiple subnets."
In the current implementation, the return code of `ACA_OVS_L3_Programmer::create_or_update_router` can be `-EXIT_FAILURE;`, which is -1, if a router state's `SubnetRoutingTable` has more than one entry, meaning that there are multiple subnets.

The code that sets the return code to -1 is here:
https://github.com/futurewei-cloud/alcor-control-agent/blob/master/src/ovs/aca_ovs_l3_programmer.cpp#L338

[2021-06-04 05:29] er1cthe0ne commented on #245
I am guessing without configuring the gateway, below scenario would be broken, can you confirm?
1. create a VM without router connected
2. connect the router later

If the above is confirmed broken, then I think the answer is yes.

[2021-06-04 16:17] cj-chung commented on #245
This is the scenario#5 I am working on. It should work after merge my dpm code.
I think the question here is that when VM booting up without attach its subnet to router, the VM actually will get its default gw from DHCP server, but the VM cannot ping the default gateway since there is no router for its subnet yet. Should we let the VM able to ping its default gw even there is no router exist?

[2021-06-04 17:36] zzxgzgz opened #248 "ACA Crashes when Processing a Large Number of GoalStates at (Almost) the Same Time."
What happened:

When testing with the test controller, creating 375(or more) ports on each host, ACA crashes when all neighbor GoalStates are coming down from NCM. The last output of ACA is as follow:

[code]

This has happened multiple times, and ACA always crashes at this place.

[2021-06-04 18:39] xieus commented on #248
So 375 is the magic number. Do we check the resource consumption on the machine that hosts ACA?

[2021-06-04 18:54] zzxgzgz commented on #248
@xieus it might be the magic number, and turns out the the problem is about memory.

This is some interesting logs we found:
[code]

It seems like that too many flow_mods are happening at the same time, so that there are too many calls for the br-tun.mgmt, and this file is not able to handle that many things using it at the same time.

[2021-06-05 20:52] er1cthe0ne commented on #245
Two few things to think about:

1. if VM cannot ping the default gateway when it boots, does the default gateway setting stick so that L3 traffic will work later when router is added?
2. it will be good to mirror neutron's behavior, I believe a real gateway port exists and pingable when subnet is created. Please confirm.

[2021-06-05 20:59] er1cthe0ne commented on #248
I believe the crash is in the OVS library which is compiled and used by ACA. Having too many flow mods happening at the same time is a problem, there are two possible things to do:

1. follow up with OVS dev to see if the performance limit is expected and crash is not a surprise - ovs-dev@openvswitch.org
2. limit the number of concurrent threads (which calls to OVS) to proportional to number of CP

[2021-06-07 16:15] zzxgzgz commented on #248
@er1cthe0ne thank you for your insight!

[2021-06-07 17:36] #246 closed

[2021-06-07 22:02] zzxgzgz opened #249 "ACA keeps running when br-tun exists but br-tun does not."
What happened:
Tested with code until commit 21dfbe5161258d03b5f0c95762840d5d9f4c12b0, ACA keeps running when br-tun exists but br-tun does not.

Expected behavior:
ACA stops running because one OVS bridge exists and the other one doesn't.

How to recreate:
1. Use `ovs-vsctl del-br br-int && ovs-vsctl del-br br-tun` to delete existing `br-int` and `br-int`.
2. Use `ovs-vsctl add-br br-tun` to add

[2021-06-07 22:05] zzxgzgz commented on #249
On the other hand, if `br-int` exists and `br-tun` doesn't, ACA will behave correctly and stops running.

[2021-06-09 16:28] xieus opened #251 "[Improvement] Refactor state computation/orchestration layer"
state computation/orchestration layer (sits in the middle, between GS retrieval module and driver layer), the concurrent dispatching of state orchestration greatly impact the throughput and latency of vpc updates through ovs

[2021-06-09 16:29] xieus opened #252 "[Improvement] Driver communication layer"
driver communication layer that exchanges commands and events with ovs and ovsdb, will optimize the most of ACA cost to best use up ovs and ovsdb's performance capacity

[2021-06-09 22:52] zzxgzgz commented on #248
After applying a quick fix to allow more open files:
[code]
we are able to run the 500 ports on each host test.

However, when we run the 1000 ports on each host test, ACA still crashes with the following last message:
[code]

To ultimately solve this, we may need a specialized channel to communicate with OVS, rather than having x(x=number of callers) clients trying to open the same file(`br-tun.m

[2021-06-11 16:55] lfu-ps commented on #252
Port libfluid into Alcor repo for connection management, doing unit testing for ovsdb.

[2021-06-22 18:47] zzxgzgz opened #253 "Comparing performance for synchronous and asynchronous gRPC servers on ACA."
According to https://github.com/futurewei-cloud/alcor-control-agent/blob/master/src/comm/aca_grpc.cpp#L88, the current gRPC server on ACA, which is responsible for receiving GoalStates and applying it to the ACA, is synchronous.

We wonder if it will speed up the overall ping time, if we make it asynchronous(so that the receiving function doesn't block until the current goalstate is finished being

[2021-06-23 05:31] er1cthe0ne commented on #253
I think this really depends on the NCM/DPM side on how to handle the async return from ACA which indicate the work is not done yet. What happen if the completion call from ACA comes later with a failure?

One model to consider is both grpc sender and receiver would do the async streaming, similar to a work item queue approach (i.e. I will tell you when there are stuff to do, and I will give you up

[2021-06-24 17:15] lfu-ps commented on #252
Build ovs performance test tool (like 2k, 5k, 10k and more flow-mod rules to ovs via the long running channel) on top of libfluid threading-model

[2021-07-13 23:24] #249 closed

[2021-07-17 00:22] #253 closed

[2021-08-03 22:09] lfu-ps commented on #252
Fixed cmake to integrate lib-fluid ovs helper and existing ACA vsctl vconn helper, both are using a unified set of openvswitch include headers and library.

[2021-08-03 22:11] lfu-ps commented on #251
Evaluating cpp high performance logic agnostic framework to leverage for goal-state to flow manipulation

[2021-08-19 23:40] zzxgzgz opened #259 "[Enhancement] Add support for GoalState V1 in the gRPC server."
After implementing the async server in the ACA, it has been unable to receive GoalState V1 from the DPM. This is because the current code only supports GoalState V2.

As GoalState V1 will still be relevant in the forseeable future, we need to support it too.

[2021-08-20 22:24] #259 closed

[2021-09-03 18:11] zzxgzgz opened #262 "ACA crashes when executing Pulsar code"
What happend:

when the main function hits
https://github.com/futurewei-cloud/alcor-control-agent/blob/master/src/aca_main.cpp#L275
or the next line,

ACA crashes with the following last words...
[code]

I guess the reason why we didn't see this error before is, this monitor function
https://github.com/futurewei-cloud/alcor-control-agent/blob/master/src/aca_main.cpp#L273
blocks the ACA's main thre

[2021-09-03 18:28] lfu-ps commented on #248
[https://github.com/futurewei-cloud/alcor-control-agent/pull/261](url)

Solved this issue in a fundamental refactoring of communication between aca and ovs which is the PR above.

Tested 1000 ports successfully.

[2021-09-11 00:08] #248 closed

[2021-09-14 00:35] #262 closed

[2021-09-28 18:43] zzxgzgz opened #265 "Test Extreme Case for Routing Rule Update"
Need to have a testcase where routing rule update is tested in extreme case, for example, many subnets with many routing rules in each subnnet.

Also, to test this, we need to implement the routing rule for
[code]

Currently we have only implemented in the GSV1 version of this function, which is:
[code]

[2021-09-28 19:25] zzxgzgz opened #266 "Investigate High Memory Usage of ACA when Testing 1 Million Neighbors"
What happened:

When senind a GoalStateV2 with 1 million neighbors, ACA consumes a lot of memory, even after the GoalState update is finished:
![image](https://user-images.githubusercontent.com/32083634/135152500-ad5acb34-4b5c-4a80-8da1-f87c7d7e7b27.png)

It might possibly be a memory leak, need more investigation on this.

[2021-10-20 20:42] zzxgzgz opened #269 "Deadlock in of_controller"
In
https://github.com/futurewei-cloud/alcor-control-agent/blob/master/src/ovs/of_controller.cpp#L126,
the program gets the lock.

However, if the following if statements are true, the `remove_switch_from_conn_map(bridge);` and `remove_switch_from_conn_map(ofconn_id);` will also try to get the lock, which causes a deadlock.

This bug was discovered when testing with cbench with multiple switches.

[2021-11-01 23:54] #269 closed

[2022-01-27 02:26] #251 closed

[2022-02-01 22:11] zzxgzgz opened #278 "Test Routing Rule update using GoalStateV2"
With the merge of #267, ACA is now able to update routing rules using GoalStateV2. We need to set up an environment to test it, just like how we tested the routing rules using GoalState(v1).

[2022-09-14 18:42] cj-chung opened #284 "Port deletion got dhcp update error"
When ACA got port delete goalstate from NCM, ACA will go to port deletion and dhcp deletion process.
But it got dhcp update failed, and cause the port deletion fail too.

[code]

[2022-09-14 20:13] zzxgzgz commented on #284
Per our earlier meeting, this is probably caused by the inbalance of DHCP CREATE/DELETE states.

We obserevd that, out of the 29 DHCP states received, 10 are `CREATE` and the other 19 are `DELETE`, which is doomed to cause a failure.

A temporary solution will be, to ignore the failures of DHCP `DELETE`, to which I asked @DavidLiu506 to implement. However, the "correct" way to do it is to have Alc